@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-bold-webfont.eot');
    src: url('../fonts/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-boldital-webfont.eot');
    src: url('../fonts/pfdintextpro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-boldital-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-boldital-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-boldital-webfont.svg#pf_dintext_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-italic-webfont.eot');
    src: url('../fonts/pfdintextpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-italic-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-italic-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-italic-webfont.svg#pf_dintext_proitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-regular-webfont.eot');
    src: url('../fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-regular-webfont.svg#pf_dintext_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-meditalic-webfont.eot');
    src: url('../fonts/pfdintextpro-meditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-meditalic-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-meditalic-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-meditalic-webfont.svg#pf_dintext_promedium_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'LeBombasticFont';
    src: url('../fonts/pfdintextpro-medium-webfont.eot');
    src: url('../fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: 600;
    font-style: normal;
}