@-webkit-keyframes efesButtonWave {
	10% { -webkit-transform: translate(0,3px); }
	25% { -webkit-transform: translate(0,3px); }
	40% { -webkit-transform: translate(0,-2px); }
	60% { -webkit-transform: translate(0,1px); }
   100% { -webkit-transform: translate(0,0); }
}
@keyframes efesButtonWave {
	10% { transform: translate(0,3px); }
	25% { transform: translate(0,3px); }
	40% { transform: translate(0,-2px); }
	60% { transform: translate(0,1px); }
   100% { transform: translate(0,0); }
}
@-webkit-keyframes efesOpacityUp {
	 0% { opacity: 0; }
	20% { opacity: 1; }
   100% { opacity: 1; }
}
@keyframes efesOpacityUp {
	 0% { opacity: 0; }
	20% { opacity: 1; }
   100% { opacity: 1; }
}
@-webkit-keyframes efesOpacityDown {
	 0% { opacity: 1; }
	80% { opacity: 1; }
   100% { opacity: 0; }
}
@keyframes efesOpacityDown {
	 0% { opacity: 1; }
	80% { opacity: 1; }
   100% { opacity: 0; }
}


/****************************************
 *	Sticky footer
 ****************************************/
html, body {
	height: 100%;
}
#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -230px;
}
#main > div {
	padding-bottom: 230px;
	overflow: auto; /* Чтобы маргины внутренних элементов не вылезали за границы родителя */
}
#footerContainer, #footer {
	height: 230px;
}


/****************************************
 *	Типографика
 ****************************************/
body {
	font: 12px/1.38 'LeBombasticFont', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
}
a {
	color: #ffd800;
	outline: none;
}
a:hover {
	color: #fff;
}
h1 {
	font-size: 37px;
	font-weight: 700;
	font-style: italic;
	margin-top: .18em;
}
h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: .9em;
}


/****************************************
 *	Общие стили
 ****************************************/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
p {
	margin: 15px 0;
}
hr {
	border: 0;
	border-bottom: 1px solid #386aa1;
	margin: 20px 0;
}
.container {
	width: 1020px;
	margin: 0 auto;
}
.cf:after,
.cf:before {
	content: '';
	display: table;
	clear: both;
}
div.row {
	margin-left: -25px;
}
div.row > div {
	float: left;
	width: 200px;
	margin-right: 25px;
}
div.row-table {
	display: table;
	width: 100%;
}
div.row-table > div {
	display: table-cell;
}
.css-table {
	display: table;
	border-collapse: collapse;
}
.css-table-row {
	display: table-row;
}
.css-table-cell {
	display: table-cell;
}
.no-width {
	width: .009px;
}
.border {
	border: 1px solid #386aa1;
}
.padding-5 {
	padding: 5px 10px;
}
.padding-10 {
	padding: 10px;
}
.padding-15 {
	padding: 15px;
}
.top {
	vertical-align: top;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.half {
	width: 50%;
}
.third {
	width: 33.33333%;
}
.fourth {
	width: 25%;
}
.no-wrap {
	white-space: nowrap;
}
.block {
	display: block;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.full-size {
	width: 100%;
	height: 100%;
}
.yellow {
	color: #ffc607;
}
.blue {
	color: #69c8f4;
}
.dark-blue {
	color: #386aa1;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: 700;
}
.animated-circle-icon {
	width: 34px;
	height: 34px;
	border: 2px solid #6e8d31;
	border-radius: 50%;
	background: rgba(4,11,0,.5);
}
.animated-circle-icon > span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
	width: 14px;
	height: 14px;
	background: url('../img/icon-yellow-plus.png') no-repeat 50% 50%;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
}
.animated-circle-icon:hover > span {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
.animated-circle-icon.blue {
	background: rgba(4,11,0,.3);
	border-color: #386aa1;
}
.animated-circle-icon.cross > span {
	background-image: url('../img/icon-yellow-cross.png');
}
.medium {
	font-weight: 600;
}
.medium-13 {
	font-weight: 600;
	font-size: 13px;
}
.uppercase {
	text-transform: uppercase;
}
.normalcase {
	text-transform: none;
}
.font-10 {
	font-size: 10px;
}
.font-13 {
	font-size: 13px;
}
.font-18 {
	font-size: 18px;
}
.font-22 {
	font-size: 22px;
}
.font-23 {
	font-size: 23px;
}
.font-30 {
	font-size: 30px;
}
.font-37 {
	font-size: 37px;
}
.social-links > a {
	margin-right: 10px;
}
.social-links.icons {
	overflow: hidden;
	height: 46px;
}
.social-links.icons > a {
	display: inline-block;
	width: 46px;
	height: 46px;
	background: url('../img/social-icons.png') no-repeat;
	margin-right: 10px;
	overflow: hidden;
	text-indent: -20000em;
}
.social-links.icons > a.vk {
	background-position: 0 0;
}
.social-links.icons > a.vk:hover {
	background-position: 0 100%;
}
.social-links.icons > a.facebook {
	background-position: 100% 0;
}
.social-links.icons > a.facebook:hover {
	background-position: 100% 100%;
}
.blue-bar {
	border-radius: 22px;
	padding: 21px 20px;
	background: -moz-linear-gradient(top,  rgba(0,17,68,0.9) 0%, rgba(0,17,68,0.3) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,17,68,0.9)), color-stop(100%,rgba(0,17,68,0.3)));
	background: -webkit-linear-gradient(top,  rgba(0,17,68,0.9) 0%,rgba(0,17,68,0.3) 100%);
	background: -o-linear-gradient(top,  rgba(0,17,68,0.9) 0%,rgba(0,17,68,0.3) 100%);
	background: -ms-linear-gradient(top,  rgba(0,17,68,0.9) 0%,rgba(0,17,68,0.3) 100%);
	background: linear-gradient(to bottom,  rgba(0,17,68,0.9) 0%,rgba(0,17,68,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6001144', endColorstr='#4d001144',GradientType=0 );
}
.thousands-separator {
	margin: 0 3px;
}
.efes-ul {
	margin: 25px 0;
	padding: 0;
	list-style: none;
}
.efes-ul-item {
	margin: 10px 0 10px 23px;
}
.efes-ul-item:before {
	content: '';
	position: absolute;
	margin-left: -23px;
	margin-top: 2px;
	width: 10px;
	height: 10px;
	background: #ffc607;
	border-radius: 50%;
}
.efes-ul-item:first-child {
	margin-top: 0;
}
.efes-ul-item:last-child {
	margin-bottom: 0;
}


/****************************************
 *	Кнопки
 ****************************************/
button,
.button {
	text-transform: inherit;
	position: relative;
	background-color: #ffc607;
	border: 0;
	color: #fff;
	font-style: italic;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 0 -1px 3px rgba(108,107,0,1);
	background-image: none;
	display: inline-block;
	border-radius: 7px;
	padding: 8px 15px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
	box-shadow: inset 0 0 10px rgba(236,255,162,.75);
	background: #ffc607;
	background: -moz-linear-gradient(top,  #cade50 0%, #ffc607 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cade50), color-stop(50%,#ffc607));
	background: -webkit-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -o-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -ms-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: linear-gradient(to bottom,  #cade50 0%,#ffc607 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cade50', endColorstr='#ffc607',GradientType=0 );
}
button.other,
.button.other {
	text-shadow: 0 1px 3px rgba(108,107,0,1);
	box-shadow: 0 20px 20px rgba(0,36,65,.6);
}
button.big,
.button.big {
	border-radius: 10px;
	font-size: 18px;
	padding: 13px 43px;
}
button.blue,
.button.blue {
	text-shadow: none;
	box-shadow: inset 0 0 6px rgba(92,208,255,.6), 0 -3px 6px rgba(0,17,68,.5);
	border-radius: 10px;
	/*
	margin: -3px -2px -2px 8px;
	*/
	background: #001144;
	background: -moz-linear-gradient(top,  #001144 60%, #498cb1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#001144), color-stop(100%,#498cb1));
	background: -webkit-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: -o-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: -ms-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: linear-gradient(to bottom,  #001144 60%,#498cb1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001144', endColorstr='#498cb1',GradientType=0 );
}
button.blue.big,
.button.blue.big {
	padding: 13px 20px;
}
button.circle,
.button.circle {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	padding: 0;
	text-align: center;
}
button.transparent,
.button.transparent {
	background: rgba(0,0,0,.2);
	color: #000;
	text-shadow: none;
	box-shadow: none;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	padding: 6px 20px 5px;
}
button.sausage,
.button.sausage {
	border-radius: 100px;
}
button.transparent:hover,
a.button.transparent:hover,
.button.transparent:hover {
	color: #ffd800;
}
button.transparent.on-dark,
.button.transparent.on-dark {
	background: rgba(255,255,255,.1);
	color: #fff;
}
button.transparent > i,
.button.transparent > i {
	margin-left: 22px;
}
button.transparent > i.plus > span,
.button.transparent > i.plus > span {
	position: absolute;
	top: -2px;
	right: -2px;
}
button.animated:hover,
.button.animated:hover {
	-webkit-animation: efesButtonWave .6s linear;
			animation: efesButtonWave .6s linear;
}
button.animated:active,
.button.animated:active {
	-webkit-transform: translate(0,1px);
			transform: translate(0,1px);
}
button.with-animated-circle-icon:hover .animated-circle-icon > span,
.button.with-animated-circle-icon:hover .animated-circle-icon > span {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
.buttons-inline > * {
	margin-right: 11px;
}
.buttons-inline > :last-child {
	margin-right: 0;
}


/****************************************
 *	Поля ввода
 ****************************************/
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input {
	line-height: normal;
}
textarea {
	overflow: auto;
	resize: none;
}
label {}
.label-above {
	display: block;
	margin-bottom: 5px;
}
.input {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 15px;
	background: #091538;
	padding: 5px 15px 4px;
	border: 2px solid transparent;
	outline: none;
	transition: background .15s linear, color .15s linear;
}
.input.with-error {
	border-color: #f03650;
	color: #f03650;
}
/*
.input.with-error:before {
	position: absolute;
	margin-left: -20px;
	width: 3px;
	height: 19px;
	background: url('../img/error-mark.png');
}
*/
textarea.input {
	border-radius: 10px;
}
form .input-row {
	margin: 4px 0 18px;
}
form .input-row.last {
	margin-bottom: 0;
}
form .input-row label {
	display: block;
	margin-bottom: 4px;
}
form .input-row .description {
	margin-top: 9px;
}
form.horizontal .input-row {}
.input.with-margin {
	margin-bottom: 10px;
}
.input:hover {
	background: #0d1b44;
}
.input:focus {
	color: #000;
	background: #fff;
}
.input::-webkit-input-placeholder {
	color: #386aa1;
}
.input:-moz-placeholder {
	color: #386aa1;
	opacity: 1;
}
.input::-moz-placeholder {
	color: #386aa1;
	opacity: 1;
}
.input:-ms-input-placeholder {
	color: #386aa1;
}
.input:focus::-webkit-input-placeholder, .input.with-error:focus::-webkit-input-placeholder {
	color: #aaa;
}
.input:focus:-moz-placeholder, .input.with-error:focus:-moz-placeholder {
	color: #aaa;
	opacity: 1;
}
.input:focus::-moz-placeholder, .input.with-error:focus::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}
.input:focus:-ms-input-placeholder, .input.with-error:focus:-ms-input-placeholder {
	color: #aaa;
}
.input.with-error::-webkit-input-placeholder {
	color: #f03650;
}
.input.with-error:-moz-placeholder {
	color: #f03650;
	opacity: 1;
}
.input.with-error::-moz-placeholder {
	color: #f03650;
	opacity: 1;
}
.input.with-error:-ms-input-placeholder {
	color: #f03650;
}
.input-description {
	margin-top: -5px;
	margin-bottom: 18px;
}
.efes-checkbox {
	cursor: pointer;
	height: 34px;
	display: inline-table;
}
.efes-checkbox-input {
	/*display: none;*/
	position: absolute;
	visibility: hidden;
}
.efes-checkbox-control {
	width: 34px;
	padding-right: 5px;
}
.efes-checkbox-control-a {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	margin: 2px;
	background: #091538;
	border-radius: 50%;
	vertical-align: middle;
}
.efes-checkbox-control-a.with-error {
	width: 34px;
	height: 34px;
	border: 2px solid #f03650;
	margin: 0;
}
.efes-checkbox-control-b {
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	background: #ffc607;
	border-radius: 50%;
}
.efes-checkbox-input:checked + .efes-checkbox-control .efes-checkbox-control-a {
	width: 34px;
	height: 34px;
	border: 2px solid #386aa1;
	margin: 0;
}
.efes-checkbox-input:checked + .efes-checkbox-control .efes-checkbox-control-b {
	display: block;
}


/****************************************
 *	Тултипы
 ****************************************/
/*
*/
.efes-tooltipster-error {
	border-radius: 15px;
	background: #f03650;
	color: #fff;
}
.efes-tooltipster-error.tooltipster-fade {
	opacity: 1;
}
.efes-tooltipster-error .tooltipster-content {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.1;
	text-align: center;
	text-transform: none;
	padding: 19px 20px 21px;
	overflow: hidden;
}
.efes-tooltipster-error .tooltipster-arrow span {
	bottom: -5px;
	border-top-width: 6px;
	border-left-width: 6px !important;
	border-right-width: 6px !important;
}
/*
.efes-tooltipster-error .tooltipster-arrow {
	display: block;
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 4px solid #f03650;
	border-left: 4px solid rgba(0,0,0,0);
	border-right: 4px solid rgba(0,0,0,0);
}
*/
.tooltipster-content-changing {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
}


/****************************************
 *	Выпадающие списки
 ****************************************/
.efes-dropdown-container {
	position: relative;
	font-weight: 600;
	font-size: 13px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
.efes-dropdown-select-container {
	overflow: hidden;
	height: 0;
}
.efes-dropdown-select {
	height: 30px;
	margin-left: 10px;
}
.efes-dropdown-field {
	position: relative;
	background: #091538;
	height: 30px;
	line-height: 26px;
	border-radius: 15px;
	border: 2px solid transparent;
	padding: 0 12px;
	cursor: pointer;
}
.efes-dropdown-field.with-error {
	border-color: #f03650;
	color: #f03650;
}
.efes-dropdown-field.trigger-entered,
.efes-dropdown-field.closing:hover,
.efes-dropdown-field.closed:hover {
	background: #0d1b44;
}
.efes-dropdown-field.opening {
	background: #091538 !important;
}
.efes-dropdown-placeholder {
	color: #386aa1;
}
.efes-dropdown-field.with-error .efes-dropdown-placeholder {
	color: #f03650;
}
.efes-dropdown-dropdown {
	position: absolute;
	top: 0;
	width: 100%;
	background: #091538;
	border-radius: 15px;
	padding: 15px 0;
	opacity: 0;
	transition: opacity .2s linear;
}
.efes-dropdown-dropdown.opened.closing,
.efes-dropdown-dropdown.closed {
	opacity: 0;
}
.efes-dropdown-dropdown.closed.opening,
.efes-dropdown-dropdown.opened {
	opacity: 1;
}
.efes-dropdown-dropdown-clip {
	overflow: hidden;
	height: 0;
	transition: height .4s ease;
}
.efes-dropdown-search-container {
	margin: 20px 0 0 0;
	padding: 0 12px;
}
.efes-dropdown-search {
	width: 100%;
	position: relative;
	z-index: 57;
}
.efes-dropdown-search.with-error{
	background: #851B1B;
	color: #FFC3C3;
}
.efes-dropdown-tooltip{
	position: absolute;
	opacity: 0;
	bottom: 30px;
	color: #091538;
	text-align: center;
	border-radius: 80px;
	background: #fff;
	padding: 5px 0;
	transition: transform .3s ease, opacity .3s ease;
	transition: -webkit-transform .3s ease, opacity .3s ease;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}
.efes-dropdown-tooltip.visible{
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.efes-dropdown-items-container {
	margin: 25px 0 3px;
}
.efes-dropdown-items-container.search-enabled {
	margin: 14px 0 3px;
}
.efes-dropdown-items-container.region{
	margin: 20px 0 3px;
}
.efes-dropdown-items {
	display: none;
	position: relative;
	outline: 0;
}
.efes-dropdown-items:hover .efes-dropdown-items-selector {
	opacity: 1;
}
.efes-dropdown-items-selector {
	position: absolute;
	width: 100%;
	height: 20px;
	background: #386aa1;
	top: 0;
	opacity: 0;
	transition: top .3s ease, opacity .3s linear;
}
.efes-dropdown-item {
	position: relative;
	padding: 0 12px;
	cursor: pointer;
	width: 100%;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.efes-dropdown-trigger {
	position: absolute;
	text-align: center;
	line-height: 26px;
	background: #386aa1 url('../img/dropdown-arrows.png') no-repeat;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.efes-dropdown-trigger.opening,
.efes-dropdown-trigger.opened {
	background-position: 0 100%;
}
.efes-dropdown-trigger.closing {
	background-position: 0 0;
}
.efes-dropdown-trigger:hover {
	background-color: #3f72ab;
}
.efes-dropdown-trigger:active {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	background-color: #386aa1;
}


/****************************************
 *	Выбор региона
 ****************************************/
.efes-region-container {
	position: relative;
	font-weight: 600;
	font-size: 13px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
.efes-region-select-container {
	overflow: hidden;
	height: 0;
}
.efes-region-select {
	height: 30px;
	margin-left: 10px;
}
.efes-region-field {
	position: relative;
	background: #091538;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	padding: 0 12px;
	cursor: pointer;
}
.efes-region-field.trigger-entered,
.efes-region-field.closing:hover,
.efes-region-field.closed:hover {
	background: #0d1b44;
}
.efes-region-field.opening {
	background: #091538 !important;
}
.efes-region-dropdown {
	position: absolute;
	top: 0;
	width: 100%;
	background: #091538;
	border-radius: 15px;
	padding: 15px 0;
	opacity: 0;
	transition: opacity .2s linear;
}
.efes-region-dropdown.opened.closing,
.efes-region-dropdown.closed {
	opacity: 0;
}
.efes-region-dropdown.closed.opening,
.efes-region-dropdown.opened {
	opacity: 1;
}
.efes-region-dropdown-clip {
	overflow: hidden;
	height: 0;
	transition: height .4s ease;
}
.efes-region-search-container {
	margin: 20px 0 0 0;
	padding: 0 12px;
}
.efes-region-search {
	width: 100%;
	position: relative;
}
.efes-region-search.with-error {
	/*
	background: #851B1B;
	*/
	/*
	border: 2px solid #f03650;
	color: #f03650;
	*/
}
.efes-region-tooltip {
	display: none !important;
	
	position: absolute;
	opacity: 0;
	bottom: 40px;
	padding: 19px 20px 21px;
	margin: 0 10px;
	font-weight: 400;
	line-height: 1.1;
	text-transform: none;
	text-align: center;
	color: #fff;
	border-radius: 15px;
	background: #f03650;
	transition: transform .3s ease, opacity .3s ease;
	transition: -webkit-transform .3s ease, opacity .3s ease;
	-webkit-transform: translateY(36px);
	transform: translateY(36px);
}
.efes-region-tooltip-tip {
	position: absolute;
	bottom: -4px;
	left: 50%;
	margin-left: -2px;
	width: 0;
	height: 0;
	border-top: 4px solid #f03650;
	border-left: 4px solid rgba(0,0,0,0);
	border-right: 4px solid rgba(0,0,0,0);
}
.efes-region-tooltip.visible {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.efes-region-items-container {
	margin: 20px 0 3px;
}
.efes-region-items-container.search-enabled {
	margin: 14px 0 3px;
}
.efes-region-items {
	display: none;
	position: relative;
	outline: 0;
}
.efes-region-items:hover .efes-region-items-selector {
	opacity: 1;
}
.efes-region-items-selector {
	position: absolute;
	width: 100%;
	height: 20px;
	background: #386aa1;
	top: 0;
	opacity: 0;
	transition: top .3s ease, opacity .3s linear;
}
.efes-region-item {
	position: relative;
	padding: 0 12px;
	cursor: pointer;
	width: 100%;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	color: #9DA1AF;
	overflow: hidden;
	text-overflow: ellipsis;
}
.efes-region-city{
	display: inline-block;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.efes-region-region{
	float: right;
	opacity: .6;
	width: 50%;
	text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
}
.efes-region-trigger {
	position: absolute;
	text-align: center;
	line-height: 26px;
	background: #386aa1 url('../img/dropdown-arrows.png') no-repeat;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.efes-region-trigger.opening,
.efes-region-trigger.opened {
	background-position: 0 100%;
}
.efes-region-trigger.closing {
	background-position: 0 0;
}
.efes-region-trigger:hover {
	background-color: #3f72ab;
}
.efes-region-trigger:active {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	background-color: #386aa1;
}
.efes-region-placeholder {
	color: #386aa1;
}


/****************************************
 *	Главная страница
 ****************************************/
#frontpageContainer {
	height: 452px;
}
#frontpage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1020px;
	height: 900px;
	overflow: hidden;
}
#frontpage > div:first-child {
	position: absolute;
	left: 50%;
	margin-left: -510px;
}
#frontpageBoardFirst {
	position: absolute;
	top: 0;
	left: -500px;
	opacity: 0;
	transition: left 1s cubic-bezier(.15,.65,.4,1.25);
}
.no-animation #frontpageBoardFirst,
.no-animation #frontpageBoardSecond,
.no-animation #header {
	transition: none;
}
#frontpage.visible #frontpageBoardFirst {
	left: -295px;
	opacity: 1;
}
#frontpageBoardSecond {
	position: absolute;
	top: 466px;
	right: -500px;
	opacity: 0;
	transition: right 1s cubic-bezier(.15,.65,.4,1.25);
}
#frontpageBoardSecond > img {
	position: absolute;
}
#frontpage.visible #frontpageBoardSecond {
	right: -72px;
	opacity: 1;
}
#frontpageYacht {
	position: absolute;
	width: 772px;
	height: 516px;
	left: -150px;
	top: 360px;
}
#frontpageBackground {
	position: absolute;
	left: 50%;
	top: -47px;
	margin-left: -1030px;
	width: 2060px;
	height: 1057px;
}
#playButton {
	position: absolute;
	background: url('../img/play-button.png') no-repeat;
	width: 182px;
	height: 74px;
	left: 470px;
	top: 35px;
	transition: top .1s linear;
}
#playButton a {
	position: absolute;
	bottom: 0;
	left: 5px;
	width: 170px;
	height: 60px;
}
#playButton:hover {
	-webkit-animation: efesButtonWave .6s linear;
			animation: efesButtonWave .6s linear;
}
#playButton:active {
	top: 37px;
}


/****************************************
 *	Полосы прокрутки
 ****************************************/
.scroll {
	outline: 0; /* убирается обводка прокручиваемой области в Chrome */
}
.jspVerticalBar {
	width: 12px;
	background: transparent;
}
.jspVerticalBar .jspTrack {
	background: rgba(13,37,86,.9);
	border-radius: 20px;
}
.jspVerticalBar .jspTrack .jspDrag {
	border-radius: 20px;
	box-shadow: inset 0 0 10px rgba(236,255,162,.75);
	background: #ffc607;
	background: -moz-linear-gradient(top,  #cade50 0%, #ffc607 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cade50), color-stop(50%,#ffc607));
	background: -webkit-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -o-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -ms-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: linear-gradient(to bottom,  #cade50 0%,#ffc607 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cade50', endColorstr='#ffc607',GradientType=0 );
}
.scroll-style-other .jspVerticalBar .jspTrack {
	border-radius: 0;
	width: 1px;
	background: #386aa1;
}
.scroll-style-other .jspVerticalBar .jspTrack .jspDrag {
	border-radius: 3px;
	width: 3px;
	left: -1px;
}


/****************************************
 *	Попапы
 ****************************************/
.popup-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.popup-container-inner {
	padding: 150px 0 75px;
}
.popup-container .popup {
	position: relative;
	display: inline-block;
	min-width: 420px;
	max-width: 90%;
	min-height: 250px;
	background: rgba(0,17,68,.9);
	border-radius: 24px;
	padding: 30px;
	-webkit-transform: scale(.5,.5);
			transform: scale(.5,.5);
	opacity: 0;
}
.popup-container.opened .popup {
	transition: -webkit-transform .4s cubic-bezier(0,.45,.6,1.39);
	transition: transform .4s cubic-bezier(0,.45,.6,1.39);
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
	-webkit-animation: efesOpacityUp .4s linear;
			animation: efesOpacityUp .4s linear;
	opacity: 1;
}
.popup-container.closed .popup {
	transition: -webkit-transform .4s cubic-bezier(.62,-0.5,1,.33);
	transition: transform .4s cubic-bezier(.62,-0.5,1,.33);
	-webkit-transform: scale(.5,.5);
			transform: scale(.5,.5);
	-webkit-animation: efesOpacityDown .4s linear;
			animation: efesOpacityDown .4s linear;
	opacity: 0;
}
.popup-container.animate-opacity-up .popup {
	-webkit-animation: efesOpacityUp .4s linear;
			animation: efesOpacityUp .4s linear;
}
.popup-container.animate-opacity-down .popup {
	-webkit-animation: efesOpacityDown .4s linear;
			animation: efesOpacityDown .4s linear;
}
.popup-container .popup > .close {
	position: absolute;
	top: 9px;
	right: 9px;
	cursor: pointer;
}
.popup-container .popup > .content {
	display: inline-block;
	width: 100%;
}
.popup-container .popup > .content h1 {
	font-size: 30px;
}
.popup-container .close-trigger {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#popupOverlay,
#slidedownOverlay,
#efesSpecialOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,246,221,.6);
}
#efesSpecialOverlay {
	background: url('../img/special-overlay-background.png') repeat-x;
}
#loginPopup .content > div {
	width: 360px;
	text-align: left;
}
#registerPopup .content > div {
	width: 780px;
	text-align: left;
}
#registerPopup.loaded .popup {
	background: url('../img/420-white-transp.png') repeat-y, rgba(0,17,68,.9);
}


/****************************************
 *	Основная вёрстка
 ****************************************/
body {
	background: url('../img/repeated-waves-background.jpg') repeat-y 50% 1010px;
}
body.hidden {
	background: #fff;
	visibility: hidden;
}
body.loading {
	background: url('../img/optimized-background.jpg') repeat-y 50% -47px;
	/*
	background-size: cover;
	*/
}
#main {
	background: url('../img/main-background.jpg') no-repeat 50% -47px;
    min-width: 1020px;
}
#header {
	position: absolute;
	top: -500px;
	left: 0;
	width: 100%;
    min-width: 1020px;
	padding-top: 50px;
	height: 305px;
	opacity: 0;
	/*
	transition: top .5s cubic-bezier(0, .5, 0, 1.25), opacity .2s linear;
	*/
	transition: top 1.5s cubic-bezier(.15,.65,.4,1.25);
}
#efesHeaderLeaves {
	position: absolute;
	top: -22px;
	width: 100%;
	height: 327px;
	overflow: hidden;
}
#efesHeaderLeavesImg {
	width: 1920px;
	height: 327px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
#header.visible {
	top: -50px;
	opacity: 1;
}
#woodenBar {
	position: relative;
	background: url('../img/header-wood-background.png') no-repeat 50% 0;
	height: 130px;
    min-width: 1020px;
}
#woodenBarTopRow {
	height: 51px;
}
#woodenBarTopRow > div:last-child {
	padding-right: 51px;
}
#woodenBarMainRow {
	height: 65px;
}
#navMain {
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
}
#navMain > a {
	color: #fff;
	text-shadow: 0 -4px 4px rgba(0,0,0,.8);
	padding: 2px 12px 1px;
	text-decoration: none;
}
#navMain > a:hover {
	color: #ffd800;
	text-decoration: none;
}
#navMain > a.current {
	background: rgba(38,13,5,.5);
	box-shadow: 0 2px 2px rgba(208,183,103,.4), inset 0 -3px 7px rgba(0,0,0,.3);
	border-radius: 100px;
	color: #ffd800;
}
#userName,
#userInfo {
	font-size: 13px;
	font-weight: 600;
}
#userName {
	position: relative;
	top: 2px;
	margin-left: 13px;
	text-decoration: none;
	color: #fff;
}
#userName:hover {
	color: #ffd800;
}
#userInfo strong {
	font-size: 22px;
	font-weight: 700;
	margin-left: 10px;
	margin-right: 35px;
	position: relative;
	top: 2px;
}
#content {
	padding-top: 255px;
	-webkit-transition: height .4s ease;
	transition: height .4s ease;
}
.efes-content-lifted {
	margin-top: -70px;
	position: relative;
}
#footer {
	position: relative;
	text-align: center;
	min-width: 1020px;
}
#efesFooterBackground {
	position: absolute;
	top: 0;
	width: 100%;
	height: 230px;
	overflow: hidden;
}
#efesFooterBackgroundImg {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	width: 1920px;
	height: 230px;
}
#harmNotice {
	position: absolute;
	bottom: 0;
	height: 155px;
}
#harmNotice > div > img {
	width: 98%;
	display: block;
	margin: 0.4% auto 0px;
}
#beerCap {
	position: absolute;
	right: 5%;
	top: -20px;
}
#enterCodeBar {
	width: 390px;
	position: relative;
	top: -2px;
}
#enterCodeBar form label {
	font-weight: 600;
	font-size: 13px;
	white-space: nowrap;
	margin-right: 10px;
	text-shadow: 0 -3px 3px rgba(47,21,8,.9);
}
#enterCodeInputsContainer {
	width: 260px;
	position: relative;
}
#enterCodeInputs {
	position: absolute;
	width: 260px;
	top: -7px;
	padding: 8px 9px;
	border-radius: 22px;
	background: #ffc607;
	background: -moz-linear-gradient(top,  #cade50 0%, #ffc607 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cade50), color-stop(50%,#ffc607));
	background: -webkit-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -o-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: -ms-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: linear-gradient(to bottom,  #cade50 0%,#ffc607 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cade50', endColorstr='#ffc607',GradientType=0 );
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
	box-shadow: 0 -5px 5px rgba(31,12,4,.3);
	height: 45px;
	transition: height .3s cubic-bezier(0, .5, .1, 1.5);
}
#enterCodeInputs .input {
	background: rgba(38,13,5,.5) url('../img/wood-texture.png');
	box-shadow: 0 2px 2px rgba(208,183,103,.4), inset 0 -3px 7px rgba(0,0,0,.3);
	color: #fff;
	padding: 6px 15px 5px;
	margin-top: 7px;
	height: 29px;
}
#enterCodeInputs .input:first-child {
	margin-top: 0;
}
#enterCodeInputs .input::-webkit-input-placeholder {
	color: #fff;
}
#enterCodeInputs .input:-moz-placeholder {
	color: #fff;
}
#enterCodeInputs .input::-moz-placeholder {
	color: #fff;
}
#enterCodeInputs .input:-ms-input-placeholder {
	color: #fff;
}
#enterCodeInputs .input:focus {}
#addCodeButton {
	position: relative;
	cursor: pointer;
	width: 34px;
	height: 34px;
	box-shadow: inset 0 0 6px rgba(92,208,255,.6), 0 -3px 6px rgba(0,17,68,.5);
	border-radius: 50%;
	margin: -3px -2px -2px 8px;
	background: #001144 url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%;
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -moz-linear-gradient(top,  #001144 60%, #498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(60%,#001144), color-stop(100%,#498cb1));
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -webkit-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -o-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -ms-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, linear-gradient(to bottom,  #001144 60%,#498cb1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001144', endColorstr='#498cb1',GradientType=0 );
}
#addCodeButton:active {
	top: 1px;
}
#enterCodeOkButton {
	box-shadow: inset 0 0 10px rgba(236,255,162,.75), 0 -3px 6px rgba(0,17,68,.5);
	margin-top: -2px;
	margin-left: 8px;
	font-size: 14px;
}
#feedbackSlidedown {
	position: absolute;
	top: 158px;
	left: 50%;
	width: 420px;
	margin-left: -210px;
	height: 30px;
	overflow: hidden;
	transition: height .1s linear;
	/*
	-webkit-transition: none;
	*/
}
#feedbackSlidedown.opened {
	transition: height .4s ease;
	/*
	-webkit-transition: none;
	*/
}
#feedbackSlidedownTrigger {
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -78px;
	width: 156px;
	height: 31px;
	cursor: pointer;
}
#feedbackSlidedown > div {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
#feedbackSlidedown > div > div.content {
	visibility: hidden;
	position: relative;
	min-height: 200px;
	background: rgba(0,17,68,.9);
	border-radius: 24px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 30px;
}
#feedbackSlidedown.opened > div > div.content {
	visibility: visible;
}
#feedbackSlidedown > div > div.trigger {
	width: 156px;
	height: 28px;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	background: url('../img/feedback-slidedown-trigger-background.png') no-repeat 0 100%;
}
#feedbackSlidedown.opened > div > div.trigger {
	background-position: 0 0;
}
#feedbackSlidedown > div > div.trigger > div.open {
	font-size: 11px;
	font-weight: 700;
	font-style: italic;
	position: relative;
	top: 8px;
}
#feedbackSlidedown > div > div.trigger > div.close {
	display: none;
}
#feedbackSlidedown.triggered > div > div.trigger > div.open {
	display: none;
}
#feedbackSlidedown.triggered > div > div.trigger > div.close {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('../img/icon-yellow-cross.png') no-repeat 50% 50%;
	/*
	-webkit-transition: none;
	*/
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
}
#feedbackSlidedown.triggered > div > div.trigger:hover > div.close {
	/*
	-webkit-transform: none;
	*/
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
/*
#feedbackSlidedown .button:hover {
	-webkit-animation: none !important;
}
#feedbackSlidedown .button:active {
	-webkit-transform: none !important;
}
*/
#feedbackSlidedownTopOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	display: none;
}
#development {
	width: 380px;
	margin: 80px auto 0;
	text-align: center;
	padding: 18px 50px 17px;
	border-radius: 100px;
	background: rgba(0,0,0,.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	font-size: 20px;
	font-weight: 700;
}
#ratingTable {
	font-size: 18px;
	counter-reset: rating-counter;
	margin-bottom: 30px;
}
#ratingTable .scroll {
	height: 528px;
	overflow-y: auto;
	margin-bottom: 10px;
	padding-right: 30px;
}
#ratingTable .scroll .jspPane {
	width: 980px !important;
}
#ratingTable .scroll div.row-table:last-child {
	margin-bottom: 0;
}
#ratingTable .row-table {
	margin-bottom: 10px;
} 
#ratingTable > .row-table {
	width: 980px;
}
#ratingTable .row-table > div:last-child {
	padding-left: 10px;
}
#ratingTable .row-table > div > .blue-bar {
	position: relative;
}
#ratingTable .row-table > div > .blue-bar > .place {
	position: absolute;
	top: 0;
	left: 0;
	padding: 21px 0;
	width: 68px;
	text-align: center;
	background: rgba(0,17,68,.6);
	border-radius: 20px 0 0 20px;
}
#ratingTable .row-table > div > .blue-bar > .place.rating-counter:before {
	counter-increment: rating-counter;
	content: counter(rating-counter);
}
#ratingTable .row-table > div > .blue-bar > .name {
	margin-left: 65px;
}
#ratingTable .row-table.user-result > div > .blue-bar > .place {
	left: -2px;
	width: 70px;
}
#ratingTable .row-table.user-result > div > .blue-bar > .place,
#ratingTable .row-table.user-result > div:last-child > .blue-bar {
	background: #ffc607;
}
#prizesShowcase {
	margin-top: -175px;
}
#prizesShowcaseRotator {
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
#prizesShowcaseRotatorPodium {
	width: 464px;
	height: 607px;
	background: url('../img/prizes-showcase-background.png') no-repeat 50% 50%;
	margin: 0 auto;
	padding-top: 86px;
}
#prizesShowcaseRotatorPodiumPrizes {
	height: 300px;
	overflow: hidden;
}
.prizes-showcase-podium-prize {}
#prizesShowcaseRotatorPodiumContent {
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
			user-select: text;
}
.prizes-showcase-podium-content {}
.prizes-showcase-title {
	font-size: 28px;
	font-style: italic;
	color: #ffd843;
	margin: 19px 0 16px;
}
.prizes-showcase-podium-content-remain {
	font-size: 22px;
}
.prizes-showcase-rotator-control {
	position: absolute;
	top: 340px;
	left: 155px;
	background: url('../img/arrows-left-right-with-hovers.png') no-repeat;
	width: 74px;
	height: 74px;
	cursor: pointer;
}
#prizesShowcaseRotatorControlLeft:hover {
	background-position: 0 100%;
}
#prizesShowcaseRotatorControlRight {
	left: auto;
	right: 155px;
	background-position: 100% 0;
}
#prizesShowcaseRotatorControlRight:hover {
	background-position: 100% 100%;
}
#prizesShowcasePlank {
	position: relative;
	width: 735px;
	height: 118px;
	background: url('../img/prizes-wooden-plank.png') no-repeat 50% 0;
	margin: 27px auto -15px;
}
.prizes-showcase-plank-item {
	position: absolute;
	top: -41px;
	left: 0;
	height: 135px;
	background: url('../img/prizes-small.png') no-repeat;
	cursor: pointer;
}
.prizes-showcase-plank-item:hover {
	background-position: 0 50%;
}
.prizes-showcase-plank-item.current {
	background-position: 0 100%;
}
.prizes-showcase-plank-item[data-id="1"] {
	left: 35px;
	width: 100px;
	background-image: url('../img/prizes-small.png');
}
.prizes-showcase-plank-item[data-id="2"] {
	left: 125px;
	width: 119px;
	background-image: url('../img/prizes-small-02.png');
}
.prizes-showcase-plank-item[data-id="3"] {
	left: 232px;
	width: 141px;
	background-image: url('../img/prizes-small-03.png');
}
.prizes-showcase-plank-item[data-id="4"] {
	left: 356px;
	width: 125px;
	background-image: url('../img/prizes-small-04.png');
}
.prizes-showcase-plank-item[data-id="5"] {
	left: 470px;
	width: 127px;
	background-image: url('../img/prizes-small-05.png');
}
.prizes-showcase-plank-item[data-id="6"] {
	left: 571px;
	width: 177px;
	background-image: url('../img/prizes-small-06.png');
}
#faq {
	height: 500px;
	outline: 0;
}
#faq .jspPane {
	width: 980px !important;
	padding-right: 20px;
}
.faq-item {
	margin-bottom: 10px;
}
.faq-item:last-child {
	margin-bottom: 0;
}
.faq-item-trigger {
	position: relative;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	padding-left: 90px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
.faq-item-trigger.opened {
	background: #0b2456;
}
.faq-item-title {}
.faq-item-trigger-icon {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 34px;
	height: 34px;
	box-shadow: inset 0 0 6px rgba(92,208,255,.6), 0 -3px 6px rgba(0,17,68,.5);
	border-radius: 50%;
	margin: -3px -2px -2px 8px;
	background: #001144 url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%;
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -moz-linear-gradient(top,  #001144 60%, #498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(60%,#001144), color-stop(100%,#498cb1));
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -webkit-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -o-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, -ms-linear-gradient(top,  #001144 60%,#498cb1 100%);
	background: url('../img/icon-white-plus-with-shadow.png') no-repeat 50% 50%, linear-gradient(to bottom,  #001144 60%,#498cb1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001144', endColorstr='#498cb1',GradientType=0 );
}
.faq-item-trigger-icon.opened {
	box-shadow: inset 0 0 10px rgba(236,255,162,.75), 0 -3px 6px rgba(0,17,68,.5);
	background: #ffc607 url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%;
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, -moz-linear-gradient(top,  #cade50 0%, #ffc607 50%);
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cade50), color-stop(50%,#ffc607));
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, -webkit-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, -o-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, -ms-linear-gradient(top,  #cade50 0%,#ffc607 50%);
	background: url('../img/icon-white-minus-with-shadow.png') no-repeat 50% 50%, linear-gradient(to bottom,  #cade50 0%,#ffc607 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cade50', endColorstr='#ffc607',GradientType=0 );
}
.faq-item-content {
	display: none;
	background: #fff;
	color: #0b2456;
	font-size: 16px;
	text-transform: none;
	padding: 60px 90px 40px;
	border-radius: 0 0 25px 25px;
	margin-top: -25px;
}
.faq-item-content.opened {
	display: block;
}
#agreementText {
	color: #386aa1;
	line-height: 1;
	text-transform: none;
	height: 60px;
	overflow: hidden;
}
.agreement-p {
	margin-top: 0;
}
.agreement-p.last {
	margin-bottom: 0;
}
.efes-blue-rounded-box {
	background: rgba(0,17,68,.9);
	border-radius: 24px;
	padding: 30px;
}
.efes-content-blue-box {
	position: relative;
	width: 840px;
	/*
	margin: -100px auto -140px;
	*/
	margin: -80px auto 0;
	background: rgba(0,17,68,.9);
	border-radius: 24px;
	padding: 30px;
}
#profile {
	position: relative;
}
#profileYacht {
	position: absolute;
	width: 353px;
	height: 353px;
	background: url('../img/profile-yacht.png') no-repeat;
	bottom: -10px;
	right: 30px;
}
#profilePlayButton {
	position: absolute;
	width: 205px;
	height: 99px;
	background: url('../img/play-button-other.png') no-repeat;
	right: 140px;
	bottom: 58px;
	transition: top .3s linear;
}
#profilePlayButton.hover {
	-webkit-animation: efesButtonWave .6s linear;
			animation: efesButtonWave .6s linear;
}
#profilePlayButtonClickArea {
	cursor: pointer;
	position: absolute;
	width: 169px;
	height: 61px;
	top: 0;
	left: 18px;
}
#profileContent {
	position: relative;
}
#efesProfilePrizesPlank {
	position: relative;
	width: 735px;
	height: 118px;
	background: url('../img/prizes-wooden-plank.png') no-repeat 50% 0;
	margin: 27px auto -15px;
}
.efes-profile-prizes-plank-item {
	position: absolute;
	top: -41px;
	left: 0;
	height: 135px;
	background: url('../img/prizes-small.png') no-repeat;
	cursor: pointer;
}
.efes-profile-prizes-plank-item:hover {
	background-position: 0 50%;
}
.efes-profile-prizes-plank-item.current {
	background-position: 0 100%;
}
.efes-profile-prizes-plank-item[data-id="1"] {
	left: 45px;
	width: 100px;
	background-image: url('../img/prizes-small.png');
}
.efes-profile-prizes-plank-item[data-id="2"] {
	left: 172px;
	width: 119px;
	background-image: url('../img/prizes-small-02.png');
}
.efes-profile-prizes-plank-item[data-id="3"] {
	left: 296px;
	width: 141px;
	background-image: url('../img/prizes-small-03.png');
}
.efes-profile-prizes-plank-item[data-id="4"] {
	left: 446px;
	width: 125px;
	background-image: url('../img/prizes-small-04.png');
}
.efes-profile-prizes-plank-item[data-id="5"] {
	left: 590px;
	width: 127px;
	background-image: url('../img/prizes-small-05.png');
}
.efes-profile-prizes-plank-item-big {
	display: none;
	position: absolute;
	width: 440px;
	background: rgba(0,17,68,.9) url('../img/profile-prizes-big-background.png') no-repeat 50% 0;
	border-radius: 20px;
	padding: 30px;
	text-align: center;
	box-shadow: 0 30px 30px rgba(0,7,29,.7);
}
.efes-profile-prizes-big-image {
	display: block;
	width: 100%;
}
#efesProfilePrizesTable {
	width: 390px;
}
#efesProfilePrizesTablePrize {
	position: relative;
	border-radius: 15px 0 0 15px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
.efes-profile-prizes-table-control {
	position: absolute;
	width: 19px;
	height: 19px;
	background: url('../img/profile-prizes-table-controls.png') no-repeat;
	cursor: pointer;
	left: 5px;
	top: 50%;
	margin-top: -10px;
}
.efes-profile-prizes-table-control:active {
	margin-top: -9px;
}
#efesProfilePrizesTableControlLeft {
	background-position: 0 0;
}
#efesProfilePrizesTableControlRight {
	left: auto;
	right: 5px;
	background-position: 0 100%;
}
#efesProfilePrizesTableDate {
	border-left: 0;
	border-radius: 0 15px 15px 0;
}
.efes-captcha {
	background: #fff;
	border-radius: 10px;
	padding: 2px 0;
	margin: 10px 0;
	text-align: center;
}
.efes-captcha-image-container {
	width: 80%;
	margin: 0 auto;
}
.efes-captcha-image {
	width: 100%;
}
.efes-white-message {
	background: #fff;
	color: #ade0eb;
	border-radius: 30px;
	white-space: nowrap;
	padding: 10px 30px;
	display: inline-block;
}
#efesPreloaderContainer {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,246,221,.6);
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}
#efesPreloaderVerticalAligner {
	display: table-cell;
	vertical-align: middle;
}
#efesPreloaderOuterWrapper {
	width: 160px;
	margin: 0 auto;
	text-align: center;
}
#efesPreloaderWrapper {
	position: relative;
	width: 160px;
	height: 160px;
	overflow: hidden;
	/*
	background: #001144;
	border-radius: 50%;
	*/
}
#efesPreloader {
	width: 160px;
	height: 160px;
	/*
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -80px 0 0 -80px;
	*/
}
#efesPreloaderPlank {
	position: absolute;
	width: 131px;
	height: 131px;
	top: 50%;
	left: 50%;
	margin: -65px 0 0 -65px;
}
#efesPreloaderText {
	position: absolute;
	top: 36px;
	width: 100%;
	text-align: center;
	font-size: 64px;
	font-weight: 700;
	font-style: italic;
	color: #ffd548;
	/*
	text-shadow: 0 -3px 10px rgba(47,21,8,.8);
	*/
	text-shadow: 0 -3px 8px rgba(15,5,0,.9);
}
#efesPreloaderBottomText {
	position: relative;
	left: 5px;
	top: 20px;
	font-size: 13px;
	font-weight: 600;
	color: #132654;
}
#efesPreloaderImagesContainer,
#efesUtilityImagesContainer {
	display: none;
}
#efesGame {
	position: relative;
	width: 1215px;
	height: 790px;
	margin-top: -80px;
	margin-bottom: -50px;
	left: -100px;
}
#efesGameFlash {
	position: absolute;
	width: 1000px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin: -310px 0 0 -500px;
	background: url('../img/game-dummy.jpg');
	box-shadow: 0 80px 70px rgba(5,30,80,.5);
}
#efesGamePlankLeftShadow {
	position: absolute;
	left: 55px;
	top: 20px;
	width: 56px;
	height: 742px;
	background: none repeat scroll 0% 0% transparent;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.7);
	border-radius: 50px;
}
#efesGamePlankRightShadow {
	position: absolute;
	right: 55px;
	top: 20px;
	width: 56px;
	height: 742px;
	background: none repeat scroll 0% 0% transparent;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.7);
	border-radius: 50px;
}
#efesGamePlankTopShadow {
	position: absolute;
	top: 28px;
	left: 20px;
	width: 1180px;
	height: 50px;
	border-radius: 50px;
	background: transparent;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
#efesGamePlankTop {
	position: absolute;
	top: 23px;
	left: 10px;
}
#efesGamePlankBottom {
	position: absolute;
	bottom: 20px;
}
#efesGamePlankLeft {
	position: absolute;
	left: 50px;
}
#efesGamePlankRight {
	position: absolute;
	right: 50px;
}
#efesGameYacht {
	position: absolute;
	width: 353px;
	height: 353px;
	background: url('../img/profile-yacht.png') no-repeat;
	bottom: 270px;
	right: 190px;
}
#efesGamePlayButton {
	position: absolute;
	width: 205px;
	height: 99px;
	background: url('../img/play-button-other.png') no-repeat;
	right: 300px;
	bottom: 338px;
	transition: top .3s linear;
}
#efesGamePlayButton.hover {
	-webkit-animation: efesButtonWave .6s linear;
			animation: efesButtonWave .6s linear;
}


/****************************************
 *	Слои
 ****************************************/
#efesPreloader { z-index: 130; }
.popup-container { z-index: 120; }
#popupOverlay { z-index: 117; }
#efesSpecialOverlay { z-index: 116; }
#feedbackSlidedownTopOverlay { z-index: 115; }
#feedbackSlidedownTrigger { z-index: 110; }
.efes-profile-prizes-plank-item-big { z-index: 107; }
#woodenBar { z-index: 105; }
#feedbackSlidedown { z-index: 100; }
.efes-content-blue-box { z-index: 98; }
#beerCap { z-index: 97; }
.efes-content-lifted { z-index: 95; }
#efesHeaderLeaves { z-index: 90; }
#slidedownOverlay { z-index: 85; }
.efes-dropdown-trigger.opening { z-index: 83; }
.efes-dropdown-field.opening { z-index: 82; }
.efes-dropdown-dropdown.opening { z-index: 81; }
.efes-dropdown-trigger.opened { z-index: 80; }
.efes-dropdown-field.opened { z-index: 79; }
.efes-dropdown-dropdown.opened { z-index: 78; }
.efes-dropdown-trigger { z-index: 77; }
.efes-dropdown-field { z-index: 76; }
.efes-dropdown-dropdown { z-index: 75; }
.efes-region-search { z-index: 75; }
#harmNotice { z-index: 67; }
#efesFooterBackground { z-index: 65; }
#playButton { z-index: 60; }
#frontpageYacht { z-index: 55; }
#frontpageBoardSecond > img { z-index: 50; }
#frontpageBoardFirst { z-index: 45; }
#frontpageBackground { z-index: 40; }
