			</div>
		</div>
		<div id="footer">
			<div id="efesFooterBackground"><img id="efesFooterBackgroundImg" src="<?php echo $baseUrl ?>img/footer-background.png" alt=""></div>
			<div id="harmNotice" class="row-table">
				<div class="center middle">
					<img src="<?php echo $baseUrl ?>img/harm-notice.png" alt="Чрезмерное употребление алкоголя вредит вашему здоровью" title="Чрезмерное употребление алкоголя вредит вашему здоровью">
				</div>
			</div>
			<img id="beerCap" src="<?php echo $baseUrl ?>img/beer-cap.png" alt="18+" title="Продажа пива несовершеннолетним запрещена. 18+">
		</div>
		<script src="<?php echo $baseUrl ?>js/main.js"></script>
	</body>
</html>