<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div class="container">
			<div id="efesGame">
				<div id="efesGameFlash">
					<?php /*
					*/ ?>
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1000" height="600" id="Loader" align="middle">
						<param name="movie" value="http://easyflash.ru/efesYacht/Loader.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="flashvars" value="main=http://easyflash.ru/efesYacht/swf/Main.swf" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="always" />
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://easyflash.ru/efesYacht/Loader.swf" width="1000" height="600">
							<param name="flashvars" value="main=http://easyflash.ru/efesYacht/swf/Main.swf" />
							<param name="movie" value="http://easyflash.ru/efesYacht/Loader.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#ffffff" />
							<param name="play" value="true" />
							<param name="loop" value="true" />
							<param name="wmode" value="transparent" />
							<param name="scale" value="showall" />
							<param name="menu" value="true" />
							<param name="devicefont" value="false" />
							<param name="salign" value="" />
							<param name="allowScriptAccess" value="always" />
						<!--<![endif]-->
							<a href="http://www.adobe.com/go/getflash">
								<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
							</a>
						<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
					</object>
				</div>
				<div id="efesGamePlankLeftShadow"></div>
				<div id="efesGamePlankLeft"><img src="<?php echo $baseUrl ?>img/game-plank-left.png"></div>
				<div id="efesGamePlankRightShadow"></div>
				<div id="efesGamePlankRight"><img src="<?php echo $baseUrl ?>img/game-plank-right.png"></div>
				<div id="efesGamePlankTopShadow"></div>
				<div id="efesGamePlankTop"><img src="<?php echo $baseUrl ?>img/game-plank-top.png"></div>
				<div id="efesGamePlankBottom"><img src="<?php echo $baseUrl ?>img/game-plank-bottom.png"></div>
			</div>
		</div>
	</div>
<?php require('footer.html') ?>