<div id="header" class="visible">
	<div id="efesHeaderLeaves"><img id="efesHeaderLeavesImg" src="<?php echo $baseUrl ?>img/header-leaves.png" alt=""></div>
	<div id="woodenBar">
		<div class="container">
			<div id="woodenBarTopRow" class="row-table">
				<?php if (isset($_COOKIE['efesUserRegistred']) && $_COOKIE['efesUserRegistred']): ?>
					<div class="middle">
						<a id="userName" href="<?php echo $baseUrl ?>html/game/ajax/profile.html" title="Личный кабинет" rel="popup" data-popup-id="profile">Андрей</a>
					</div>
					<div class="middle center">
						<div id="userInfo">
							<span>Всего кодов: <strong class="yellow">10</strong></span>
							<span>Осталось: <strong class="yellow">4</strong></span>
						</div>
					</div>
					<div class="middle no-width no-wrap">
						<nav id="navUserLinks" class="buttons-inline">
							<a href="<?php echo $baseUrl ?>" class="button transparent on-dark sausage with-animated-circle-icon">
								Выйти<i class="plus"><span class="animated-circle-icon"><span></span></span></i>
							</a>
						</nav>
					</div>
				<?php else: ?>
					<div class="middle">&nbsp;</div>
					<div class="middle no-wrap fourth">
						<nav id="navUserLinks" class="buttons-inline">
							<a href="<?php echo $baseUrl ?>html/ajax/login.html" rel="popup" class="button transparent on-dark sausage" data-popup-id="login">
								Войти
							</a><a href="<?php echo $baseUrl ?>html/ajax/registration.html" rel="popup" class="button transparent on-dark sausage with-animated-circle-icon" data-popup-id="register">
								Регистрация<i class="plus"><span class="animated-circle-icon"><span></span></span></i>
							</a>
						</nav>
					</div>
				<?php endif ?>
			</div>
			<div id="woodenBarMainRow" class="row-table">
				<div class="middle center">
					<nav id="navMain">
						<a href="<?php echo $baseUrl ?>frontpage.html">
							Сайт акции
						</a><a href="<?php echo $baseUrl ?>html/game/ajax/rating.html" rel="popup" data-popup-id="rating">
							Рейтинг
						</a><a href="<?php echo $baseUrl ?>html/ajax/rules.html" rel="popup" data-popup-id="rules">
							Правила
						</a><a href="<?php echo $baseUrl ?>html/game/ajax/profile.html" rel="popup" data-popup-id="profile">
							Личный кабинет
						</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div id="feedbackSlidedown">
		<div>
			<div class="content">
			</div>
			<div class="trigger">
				<div class="open">Обратная связь</div>
				<div class="close"></div>
			</div>
		</div>
	</div>
	<div id="feedbackSlidedownTrigger"></div>
	<div id="feedbackSlidedownTopOverlay"></div>
</div>