<?php $baseUrl = dirname(dirname(dirname(dirname($_SERVER['SCRIPT_NAME'])))).'/' ?>
<div style="width:790px">
	<h1>Личный кабинет</h1>
	<span class="medium font-18">Константин<br> Константинопольский</span>
	<hr>
	<span class="medium-13">Лучший результат:</span><br>
	<span class="font-37 bold italic yellow">1250</span> <span class="font-18 bold italic yellow">баллов</span>
	<hr>
	<div class="css-table full-width medium-13 left">
		<div class="css-table-row">
			<div class="css-table-cell bottom padding-15"></div>
			<div class="css-table-cell bottom padding-15">Игровое преимущество</div>
			<div class="css-table-cell bottom padding-15">Общее количество<br> зарегистрированных кодов</div>
			<div class="css-table-cell bottom no-width padding-15">Статус</div>
		</div>
		<div class="css-table-row">
			<div class="css-table-cell middle padding-15"><img src="<?php echo $baseUrl ?>img/weapon_x2.png"></div>
			<div class="css-table-cell middle padding-15">В два раза больше снарядов!</div>
			<div class="css-table-cell middle padding-15"><span class="yellow font-22 bold normalcase">2 кода</span></div>
			<div class="css-table-cell middle no-width padding-15"><span class="yellow">Активирован</span></div>
		</div>
		<div class="css-table-row">
			<div class="css-table-cell middle padding-15"><img src="<?php echo $baseUrl ?>img/auto_sight.png"></div>
			<div class="css-table-cell middle padding-15">Автонаведение снаряда</div>
			<div class="css-table-cell middle padding-15"><span class="yellow font-22 bold normalcase">8 кодов</span></div>
			<div class="css-table-cell middle no-width padding-15"><span class="yellow">Активирован</span></div>
		</div>
		<div class="css-table-row">
			<div class="css-table-cell middle padding-15"><img src="<?php echo $baseUrl ?>img/points_x2.png"></div>
			<div class="css-table-cell middle padding-15">В два раза больше очков!</div>
			<div class="css-table-cell middle padding-15"><span class="yellow font-22 bold normalcase">20 кодов</span></div>
			<div class="css-table-cell middle no-width padding-15"><span class="button big animated">Активировать</span></div>
		</div>
	</div>
	<hr>
	<a class="button big animated full-width" onclick="$(this).closest('.popup-container').popup('close')">Закрыть</a>
</div>