<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<div class="left">
	<h1 class="center">Обратная связь</h1>
	<form id="efesFeedbackForm" method="post" action="<?php echo $baseUrl ?>feedback">
		<div class="input-row">
			<label for="feedbackSubject" class="medium-13">Тема</label>
			<select id="feedbackSubject" class="efes-dropdown" name="feedback[subject]" required>
				<option value="" disabled selected>Выберите тему</option>
				<option>Тема 1</option>
				<option>Тема 2</option>
				<option>Тема 3</option>
				<option>Тема 4</option>
			</select>
		</div>
		<div class="input-row">
			<label for="feedbackEmail" class="medium-13">E-mail</label>
			<input type="email" id="feedbackEmail" name="feedback[email]" class="input full-width" required>
		</div>
		<div class="input-row">
			<label for="feedbackText" class="medium-13">Сообщение</label>
			<textarea id="feedbackText" class="input full-width" name="feedback[message]" placeholder="Введите текст…" rows="4" required></textarea>
		</div>
		<hr>
		<div class="captcha">
			<div class="input-row">
				<label for="feedbackCaptcha" class="medium-13">Пожалуйста, введите текст с картинки,<br> чтобы продолжить</label>
				<input type="text" id="feedbackCaptcha" class="input full-width" name="feedback[captcha]" required>
				<div class="efes-captcha">
					<div class="efes-captcha-image-container">
						<img class="efes-captcha-image" src="<?php echo $baseUrl ?>img/captcha.png" alt="Проверочное изображение">
					</div>
				</div>
			</div>
		</div>
		<input type="submit" class="button big animated full-width" value="Отправить">
	</form>
</div>
<script>
	$.mockjax({
		url: 'http://'+ window.location.hostname + efesBaseUrl +'feedback',
		responseStatus: 200,
		responseTime: 2000
	});
	
	$('#efesFeedbackForm').form({
		successMessage: 'Ваше сообщение отправлено',
		messages: {
			'feedback[subject]': 'Это поле необходимо заполнить',
			'feedback[email]': {
				required: 'Это поле необходимо заполнить',
				email: 'Введите правильный адрес электронной почты'
			},
			'feedback[message]': 'Это поле необходимо заполнить',
			'feedback[captcha]': 'Это поле необходимо заполнить'
		}
	});
</script>