<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<h1 class="center">Авторизация</h1>
<h4>Авторизуйтесь<br> через социальную сеть</h4>
<div class="social-links icons">
	<a href="#" class="vk" title="Вконтакте">ВКонтакте</a><a href="#" class="facebook" title="Facebook">Facebook</a>
</div>
<hr>
<h4 style="margin-bottom:22px">Авторизуйтесь с помощью<br> электронной почты<br> или мобильного телефона</h4>
<form id="efesLoginForm" method="post" action="<?php echo $baseUrl ?>login">
	<div class="input-row">
		<label for="efesLoginFormEmailPhone" class="medium-13">Введите e-mail или номер мобильного телефона</label>
		<input type="text" id="efesLoginFormEmailPhone" class="input full-width" name="login[email_phone]" required>
	</div>
	<div class="row-table">
		<div class="half top">
			<div class="input-row last">
				<label for="efesLoginFormPassword" class="medium-13">Введите пароль</label>
				<input type="password" id="efesLoginFormPassword" class="input full-width" name="login[password]" required>
				<div class="description">
					<a href="<?php echo $baseUrl ?>html/ajax/password-recovery.html" rel="popup" data-popup-id="recovery" class="medium-13 italic font-10">Забыли пароль?</a>
				</div>
			</div>
		</div>
		<div class="half right" style="padding-top:5px;">
			<input type="submit" value="Войти" class="button big animated">
		</div>
	</div>
</form>
<hr>
<h4>Регистрация</h4>
<p class="medium-13">Если Вы еще не зарегистрировались<br> на нашем сайте, пожалуйста, заполните<br> форму регистрации.</p>
<a href="<?php echo $baseUrl ?>html/ajax/registration.html" rel="popup" data-popup-id="register" class="button animated full-width big">Регистрация</a>
<script>
	$.mockjax({
		url: 'http://'+ window.location.hostname + efesBaseUrl +'login',
		responseStatus: 200,
		responseTime: 2000
	});
	
	$('#efesLoginForm').form({
		successHandler: function() {
			alert(this.options.successMessage);
		}
	});
</script>