<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<div class="center" style="width:360px;">
	<h1>Восстановление пароля</h1>
	<p class="medium font-18">Для восстановления пароля<br> введите e-mail, который<br> вы указывали при регистрации</p>
	<form id="efesPasswordRecoveryLinkForm" method="post" action="<?php echo $baseUrl ?>test.response">
		<label class="medium-13 label-above">Введите новый пароль</label>
		<input type="text" class="input full-width" name="efesPasswordRecoveryLinkForm[password]" required>
		<label class="medium-13 label-above">Повторите новый пароль</label>
		<input type="text" class="input full-width" name="efesPasswordRecoveryLinkForm[password2]" required>
		<div style="margin-bottom:20px;"></div>
		<input type="submit" class="button big full-width animated" value="Запомнить пароль">
	</form>
</div>
<script>
	$('#efesPasswordRecoveryLinkForm').form();
</script>
