<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<div class="center" style="width:360px;">
	<h1>Восстановление пароля</h1>
	<p class="medium font-18">Для восстановления пароля<br> введите e-mail, который<br> вы указывали при регистрации</p>
	<form id="efesPasswordRecoveryForm" method="post" action="<?php echo $baseUrl ?>test.response">
		<label for="efesPasswordRecoveryFormEmail" class="medium-13 label-above">E-mail</label>
		<input type="email" class="input full-width" name="efesPasswordRecoveryForm[email]" required>
		<div style="margin-bottom:20px;"></div>
		<input type="submit" class="button big full-width animated" value="Восстановить">
	</form>
</div>
<script>
	$('#efesPasswordRecoveryForm').form();
</script>
