<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<form id="efesProfileSlippersForm" method="post" action="<?php echo $baseUrl ?>test.response">
	<h4>Пожалуйста, выберите размер<br> тапочек:</h4>
	<div style="margin:30px 30px;">
		<div class="css-table full-width">
			<div class="css-table-cell fourth">
				<label class="efes-checkbox">
					<input type="radio" name="profileSlippers[size]" value="37" class="efes-checkbox-input" required>
					<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
					<span class="css-table-cell middle medium-13">37</span>
				</label>
			</div>
			<div class="css-table-cell fourth">
				<label class="efes-checkbox">
					<input type="radio" name="profileSlippers[size]" value="39" class="efes-checkbox-input" required>
					<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
					<span class="css-table-cell middle medium-13">39</span>
				</label>
			</div>
			<div class="css-table-cell fourth">
				<label class="efes-checkbox">
					<input type="radio" name="profileSlippers[size]" value="42" class="efes-checkbox-input" required>
					<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
					<span class="css-table-cell middle medium-13">42</span>
				</label>
			</div>
			<div class="css-table-cell fourth">
				<label class="efes-checkbox">
					<input type="radio" name="profileSlippers[size]" value="43" class="efes-checkbox-input" required>
					<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
					<span class="css-table-cell middle medium-13">43</span>
				</label>
			</div>
		</div>
	</div>
	<p class="medium-13">
		Обращаем внимание, что если тапочки указанного<br> размера закончились, то вы получите тапочки<br> наиболее близкого к выбранному размеру,<br> имеющиеся в наличии.
	</p>
	<input type="submit" class="button big animated full-width" value="Ok">
</form>
<script>
	$('#efesProfileSlippersForm').form({
		successHandler: function() {
			$('#efesProfileSlippersPopup').popup('close');
		}
	});
</script>