<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<div class="left" style="width:360px;">
	<p class="medium font-18 center" style="margin-top:20px;">Твой приз подтверждён!</p>
	<form id="efesProfileConfirmationForm" method="post" action="<?php echo $baseUrl ?>test.response">
		<div class="input-row">
			<label class="medium-13 center">Пожалуйста, введи свой индекс:</label>
			<input type="text" name="_index" class="input full-width" required>
		</div>
		<input type="submit" class="button big animated full-width" value="Ok">
	</form>
</div>
<script>
	$('#efesProfileConfirmationForm').form({
		successHandler: function() {
			$('#efesProfileConfirmationPopup').popup('close');
		}
	});
</script>