<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<h1 class="center">Смена пароля</h1>
<form id="efesProfilePasswordChangeForm" method="post" action="<?php echo $baseUrl ?>test.response">
	<div class="input-row">
		<label class="medium-13">Введите старый пароль</label>
		<input type="password" name="profileChangePassword[password1]" class="input full-width" required>
	</div>
	<div class="input-row">
		<label class="medium-13">Введите новый пароль</label>
		<input type="password" name="profileChangePassword[password2]" class="input full-width" required>
	</div>
	<div class="input-row">
		<label class="medium-13">Повторите новый пароль</label>
		<input type="password" name="profileChangePassword[password3]" class="input full-width" required>
	</div>
	<input type="submit" class="button big animated full-width" value="Запомнить пароль">
</form>
<script>
	$('#efesProfilePasswordChangeForm').form({
		successMessage: 'Пароль изменен'
	});
</script>