<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<form id="efesProfilePassportForm" method="post" action="<?php echo $baseUrl ?>test.response">
	<p>
		<button class="button big blue full-width">Загрузить страницу с фото</button><br>
		<span class="normalcase medium-13">My disc/documents/scans/passport_1.jpg</span>
	</p>
	<p>
		<button class="button big blue full-width">Загрузить страницу с адресом</button><br>
		<span class="normalcase medium-13"><span class="yellow">Не загружено</span></span>
	</p>
	<input type="submit" class="button big animated full-width" value="Отправить">
</form>
<script>
	$('#efesProfilePassportForm').form({
		successMessage: 'Паспорт загружен'
	});
</script>