<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<h1 class="center">Регистрация</h1>
<div class="row-table">
	<div class="half top" style="padding-right:30px;">
		<p class="center medium-13">Уже зарегистрированы?</p>
		<div class="center">
			<a href="<?php echo $baseUrl ?>html/ajax/login.html" rel="popup" data-popup-id="login" class="button big animated">Войти</a>
		</div>
		<hr>
		<h4 class="center">Регистрация<br> через социальную сеть</h4>
		<div class="social-links icons center">
			<a href="#" class="vk" title="Вконтакте">ВКонтакте</a><a href="#" class="facebook" title="Facebook">Facebook</a>
		</div>
	</div>
	<div class="half top" style="padding-left:30px;">
		<p class="medium-13">Если Вы еще не зарегистрировались<br> на нашем сайте, пожалуйста, заполните<br> форму регистрации.</p>
		<h4>Регистрация<br> через электронную почту</h4>
		<form id="efesRegistrationForm" method="post" action="<?php echo $baseUrl ?>registration">
			<input type="text" class="input full-width with-margin" placeholder="Имя" name="_name1" required>
			<input type="text" class="input full-width with-margin" placeholder="Фамилия" name="_name2" required>
			<input type="text" class="input full-width with-margin" placeholder="Отчество" name="_name3" required>
			<div class="css-table full-width">
				<div class="css-table-cell half" style="padding-right:10px;">
					<label for="_email" class="medium-13 label-above">E-mail</label>
					<input type="text" id="_email" name="_email" class="input full-width with-margin" required>
					<label for="_birth1" class="medium-13 label-above">Дата рождения</label>
					<div class="css-table full-width">
						<div class="css-table-cell" style="width:33%;padding-right:5px;">
							<input type="text" id="_birth1" name="_birth1" class="input full-width" placeholder="дд" size="2" maxlength="2" required>
						</div>
						<div class="css-table-cell" style="width:33%;padding-right:5px;">
							<input type="text" id="_birth2" name="_birth2" class="input full-width" placeholder="мм" size="2" maxlength="2" required>
						</div>
						<div class="css-table-cell">
							<input type="text" id="_birth3" name="_birth3" class="input full-width" placeholder="гггг" size="4" maxlength="4" required>
						</div>
					</div>
				</div>
				<div class="css-table-cell half" style="padding-left:10px;">
					<label for="_phone" class="medium-13 label-above">Номер моб. телефона</label>
					<input type="text" id="_phone" name="_phone" class="input full-width with-margin" required>
					<label class="medium-13 label-above">Пол</label>
					<div style="margin-top:-3px;">
						<label class="efes-checkbox" style="margin-right:10px;">
							<input type="radio" name="_gender" value="0" class="efes-checkbox-input" required>
							<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
							<span class="css-table-cell middle">М</span>
						</label>
						<label class="efes-checkbox">
							<input type="radio" name="_gender" value="1" class="efes-checkbox-input" required>
							<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
							<span class="css-table-cell middle">Ж</span>
						</label>
					</div>
				</div>
			</div>
			<div style="margin-top:5px;">
				<select id="_town" name="_town" class="efes-dropdown search-enabled" required>
					<option value="" selected disabled>Город</option>
					<option value="1">Абаза</option>
					<option value="2">Абакан</option>
					<option value="3">Абдулино</option>
					<option value="4">Абинск</option>
					<option value="5">Агидель</option>
					<option value="6">Агрыз</option>
					<option value="7">Адыгейск</option>
					<option value="8">Азнакаево</option>
					<option value="9">Азов</option>
					<option value="10">Ак-Довурак</option>
					<option value="11">Аксай</option>
					<option value="12">Алагир</option>
					<option value="13">Алапаевск</option>
					<option value="14">Алатырь</option>
					<option value="15">Алдан</option>
					<option value="16">Алейск</option>
					<option value="17">Александров</option>
					<option value="18">Александровск</option>
					<option value="19">Александровск-Сахалинский</option>
					<option value="20">Алексеевка</option>
					<option value="21">Алексин</option>
					<option value="22">Алзамай</option>
					<option value="23">Альметьевск</option>
					<option value="24">Амурск</option>
					<option value="25">Анадырь</option>
					<option value="26">Анапа</option>
					<option value="27">Ангарск</option>
					<option value="28">Андреаполь</option>
					<option value="29">Анжеро-Судженск</option>
					<option value="30">Анива</option>
					<option value="31">Апатиты</option>
					<option value="32">Апрелевка</option>
					<option value="33">Апшеронск</option>
					<option value="34">Арамиль</option>
					<option value="35">Аргун</option>
					<option value="36">Ардатов</option>
					<option value="37">Ардон</option>
					<option value="38">Арзамас</option>
					<option value="39">Арзамас</option>
					<option value="40">Аркадак</option>
					<option value="41">Армавир</option>
					<option value="42">Арсеньев</option>
					<option value="43">Артём</option>
					<option value="44">Артёмовск</option>
					<option value="45">Артёмовский</option>
					<option value="46">Архангельск</option>
					<option value="47">Асбест</option>
					<option value="48">Асино</option>
					<option value="49">Астрахань</option>
					<option value="50">Аткарск</option>
					<option value="51">Ахтубинск</option>
					<option value="52">Ачинск</option>
					<option value="53">Аша</option>
					<option value="54">Бабаево</option>
					<option value="55">Бабушкин</option>
					<option value="56">Бавлы</option>
					<option value="57">Багратионовск</option>
					<option value="58">Байкальск</option>
					<option value="59">Баймак</option>
					<option value="60">Бакал</option>
					<option value="61">Баксан</option>
					<option value="62">Балабаново</option>
					<option value="63">Балаково</option>
					<option value="64">Балахна</option>
					<option value="65">Балахна</option>
					<option value="66">Балашиха</option>
					<option value="67">Балашов</option>
					<option value="68">Балей</option>
					<option value="69">Балтийск</option>
					<option value="70">Барабинск</option>
					<option value="71">Барнаул</option>
					<option value="72">Барыш</option>
					<option value="73">Батайск</option>
					<option value="74">Бежецк</option>
					<option value="75">Белая Калитва</option>
					<option value="76">Белая Холуница</option>
					<option value="77">Белгород</option>
					<option value="78">Белебей</option>
					<option value="79">Белёв</option>
					<option value="80">Белинский</option>
					<option value="81">Белово</option>
					<option value="82">Белогорск</option>
					<option value="83">Белозерск</option>
					<option value="84">Белокуриха</option>
					<option value="85">Беломорск</option>
					<option value="86">Белорецк</option>
					<option value="87">Белореченск</option>
					<option value="88">Белоусово</option>
					<option value="89">Белоярский</option>
					<option value="90">Белый</option>
					<option value="91">Бердск</option>
					<option value="92">Березники</option>
					<option value="93">Берёзовский</option>
					<option value="94">Берёзовский</option>
					<option value="95">Беслан</option>
					<option value="96">Бийск</option>
					<option value="97">Бикин</option>
					<option value="98">Билибино</option>
					<option value="99">Биробиджан</option>
					<option value="100">Бирск</option>
					<option value="101">Бирюсинск</option>
					<option value="102">Бирюч</option>
					<option value="103">Благовещенск</option>
					<option value="104">Благовещенск</option>
					<option value="105">Благодарный</option>
					<option value="106">Бобров</option>
					<option value="107">Богданович</option>
					<option value="108">Богородицк</option>
					<option value="109">Богородск</option>
					<option value="110">Богородск</option>
					<option value="111">Боготол</option>
					<option value="112">Богучар</option>
					<option value="113">Бодайбо</option>
					<option value="114">Бокситогорск</option>
					<option value="115">Болгар</option>
					<option value="116">Бологое</option>
					<option value="117">Болотное</option>
					<option value="118">Болохово</option>
					<option value="119">Болхов</option>
					<option value="120">Большой Камень</option>
					<option value="121">Бор</option>
					<option value="122">Бор</option>
					<option value="123">Борзя</option>
					<option value="124">Борисоглебск</option>
					<option value="125">Боровичи</option>
					<option value="126">Боровск</option>
					<option value="127">Бородино</option>
					<option value="128">Братск</option>
					<option value="129">Бронницы</option>
					<option value="130">Брянск</option>
					<option value="131">Бугульма</option>
					<option value="132">Бугуруслан</option>
					<option value="133">Будённовск</option>
					<option value="134">Бузулук</option>
					<option value="135">Буинск</option>
					<option value="136">Буй</option>
					<option value="137">Буйнакск</option>
					<option value="138">Бутурлиновка</option>
					<option value="139">Валдай</option>
					<option value="140">Валуйки</option>
					<option value="141">Велиж</option>
					<option value="142">Великие Луки</option>
					<option value="143">Великий Новгород</option>
					<option value="144">Великий Устюг</option>
					<option value="145">Вельск</option>
					<option value="146">Венёв</option>
					<option value="147">Верещагино</option>
					<option value="148">Верея</option>
					<option value="149">Верхнеуральск</option>
					<option value="150">Верхний Тагил</option>
					<option value="151">Верхний Уфалей</option>
					<option value="152">Верхняя Пышма</option>
					<option value="153">Верхняя Салда</option>
					<option value="154">Верхняя Тура</option>
					<option value="155">Верхотурье</option>
					<option value="156">Верхоянск</option>
					<option value="157">Весьегонск</option>
					<option value="158">Ветлуга</option>
					<option value="159">Ветлуга</option>
					<option value="160">Видное</option>
					<option value="161">Вилюйск</option>
					<option value="162">Вилючинск</option>
					<option value="163">Вихоревка</option>
					<option value="164">Вичуга</option>
					<option value="165">Владивосток</option>
					<option value="166">Владикавказ</option>
					<option value="167">Владимир</option>
					<option value="168">Волгоград</option>
					<option value="169">Волгодонск</option>
					<option value="170">Волгореченск</option>
					<option value="171">Волжск</option>
					<option value="172">Волжский</option>
					<option value="173">Вологда</option>
					<option value="174">Володарск</option>
					<option value="175">Володарск</option>
					<option value="176">Волоколамск</option>
					<option value="177">Волосово</option>
					<option value="178">Волхов</option>
					<option value="179">Волчанск</option>
					<option value="180">Вольск</option>
					<option value="181">Воркута</option>
					<option value="182">Воронеж</option>
					<option value="183">Ворсма</option>
					<option value="184">Ворсма</option>
					<option value="185">Воскресенск</option>
					<option value="186">Воткинск</option>
					<option value="187">Всеволожск</option>
					<option value="188">Вуктыл</option>
					<option value="189">Выборг</option>
					<option value="190">Выкса</option>
					<option value="191">Выкса</option>
					<option value="192">Высоковск</option>
					<option value="193">Высоцк</option>
					<option value="194">Вытегра</option>
					<option value="195">Вышний Волочёк</option>
					<option value="196">Вяземский</option>
					<option value="197">Вязники</option>
					<option value="198">Вязьма</option>
					<option value="199">Вятские Поляны</option>
					<option value="200">Гаврилов Посад</option>
					<option value="201">Гаврилов-Ям</option>
					<option value="202">Гагарин</option>
					<option value="203">Гаджиево</option>
					<option value="204">Гай</option>
					<option value="205">Галич</option>
					<option value="206">Гатчина</option>
					<option value="207">Гвардейск</option>
					<option value="208">Гдов</option>
					<option value="209">Геленджик</option>
					<option value="210">Георгиевск</option>
					<option value="211">Глазов</option>
					<option value="212">Горбатов</option>
					<option value="213">Горбатов</option>
					<option value="214">Горно-Алтайск</option>
					<option value="215">Горнозаводск</option>
					<option value="216">Горнозаводск</option>
					<option value="217">Горняк</option>
					<option value="218">Городец</option>
					<option value="219">Городец</option>
					<option value="220">Городище</option>
					<option value="221">Городовиковск</option>
					<option value="222">Гороховец</option>
					<option value="223">Горячий Ключ</option>
					<option value="224">Грайворон</option>
					<option value="225">Гремячинск</option>
					<option value="226">Грозный</option>
					<option value="227">Грязи</option>
					<option value="228">Грязовец</option>
					<option value="229">Губаха</option>
					<option value="230">Губкин</option>
					<option value="231">Губкинский</option>
					<option value="232">Гудермес</option>
					<option value="233">Гуково</option>
					<option value="234">Гулькевичи</option>
					<option value="235">Гурьевск</option>
					<option value="236">Гурьевск</option>
					<option value="237">Гусев</option>
					<option value="238">Гусиноозёрск</option>
					<option value="239">Гусь-Хрустальный</option>
					<option value="240">Давлеканово</option>
					<option value="241">Дагестанские Огни</option>
					<option value="242">Далматово</option>
					<option value="243">Дальнегорск</option>
					<option value="244">Дальнереченск</option>
					<option value="245">Данилов</option>
					<option value="246">Данков</option>
					<option value="247">Дегтярск</option>
					<option value="248">Дедовск</option>
					<option value="249">Демидов</option>
					<option value="250">Дербент</option>
					<option value="251">Десногорск</option>
					<option value="252">Дзержинск</option>
					<option value="253">Дзержинск</option>
					<option value="254">Дзержинский</option>
					<option value="255">Дивногорск</option>
					<option value="256">Дигора</option>
					<option value="257">Димитровград</option>
					<option value="258">Дмитриев-Льговский</option>
					<option value="259">Дмитров</option>
					<option value="260">Дмитровск</option>
					<option value="261">Дно</option>
					<option value="262">Добрянка</option>
					<option value="263">Долгопрудный</option>
					<option value="264">Долинск</option>
					<option value="265">Домодедово</option>
					<option value="266">Донецк</option>
					<option value="267">Донской</option>
					<option value="268">Дорогобуж</option>
					<option value="269">Дрезна</option>
					<option value="270">Дубна</option>
					<option value="271">Дубовка</option>
					<option value="272">Дудинка</option>
					<option value="273">Духовщина</option>
					<option value="274">Дюртюли</option>
					<option value="275">Дятьково</option>
					<option value="276">Егорьевск</option>
					<option value="277">Ейск</option>
					<option value="278">Екатеринбург</option>
					<option value="279">Елабуга</option>
					<option value="280">Елец</option>
					<option value="281">Елизово</option>
					<option value="282">Ельня</option>
					<option value="283">Еманжелинск</option>
					<option value="284">Емва</option>
					<option value="285">Енисейск</option>
					<option value="286">Ермолино</option>
					<option value="287">Ершов</option>
					<option value="288">Ессентуки</option>
					<option value="289">Ефремов</option>
					<option value="290">Железноводск</option>
					<option value="291">Железногорск</option>
					<option value="292">Железногорск</option>
					<option value="293">Железногорск-Илимский</option>
					<option value="294">Железнодорожный</option>
					<option value="295">Жердевка</option>
					<option value="296">Жигулёвск</option>
					<option value="297">Жиздра</option>
					<option value="298">Жирновск</option>
					<option value="299">Жуков</option>
					<option value="300">Жуковка</option>
					<option value="301">Жуковский</option>
					<option value="302">Завитинск</option>
					<option value="303">Заводоуковск</option>
					<option value="304">Заволжск</option>
					<option value="305">Заволжье</option>
					<option value="306">Заволжье</option>
					<option value="307">Задонск</option>
					<option value="308">Заинск</option>
					<option value="309">Закаменск</option>
					<option value="310">Заозёрный</option>
					<option value="311">Заозёрск</option>
					<option value="312">Западная Двина</option>
					<option value="313">Заполярный</option>
					<option value="314">Зарайск</option>
					<option value="315">Заречный</option>
					<option value="316">Заречный</option>
					<option value="317">Заринск</option>
					<option value="318">Звенигово</option>
					<option value="319">Звенигород</option>
					<option value="320">Зверево</option>
					<option value="321">Зеленогорск</option>
					<option value="322">Зеленоградск</option>
					<option value="323">Зеленодольск</option>
					<option value="324">Зеленокумск</option>
					<option value="325">Зерноград</option>
					<option value="326">Зея</option>
					<option value="327">Зима</option>
					<option value="328">Златоуст</option>
					<option value="329">Злынка</option>
					<option value="330">Змеиногорск</option>
					<option value="331">Знаменск</option>
					<option value="332">Зубцов</option>
					<option value="333">Зуевка</option>
					<option value="334">Ивангород</option>
					<option value="335">Иваново</option>
					<option value="336">Ивантеевка</option>
					<option value="337">Ивдель</option>
					<option value="338">Игарка</option>
					<option value="339">Ижевск</option>
					<option value="340">Избербаш</option>
					<option value="341">Изобильный</option>
					<option value="342">Иланский</option>
					<option value="343">Инза</option>
					<option value="344">Инсар</option>
					<option value="345">Инта</option>
					<option value="346">Ипатово</option>
					<option value="347">Ирбит</option>
					<option value="348">Иркутск</option>
					<option value="349">Исилькуль</option>
					<option value="350">Искитим</option>
					<option value="351">Истра</option>
					<option value="352">Ишим</option>
					<option value="353">Ишимбай</option>
					<option value="354">Йошкар-Ола</option>
					<option value="355">Кадников</option>
					<option value="356">Казань</option>
					<option value="357">Калач</option>
					<option value="358">Калачинск</option>
					<option value="359">Калач-на-Дону</option>
					<option value="360">Калининград</option>
					<option value="361">Калининск</option>
					<option value="362">Калтан</option>
					<option value="363">Калуга</option>
					<option value="364">Калязин</option>
					<option value="365">Камбарка</option>
					<option value="366">Каменка</option>
					<option value="367">Каменногорск</option>
					<option value="368">Каменск-Уральский</option>
					<option value="369">Каменск-Шахтинский</option>
					<option value="370">Камень-на-Оби</option>
					<option value="371">Камешково</option>
					<option value="372">Камызяк</option>
					<option value="373">Камышин</option>
					<option value="374">Камышлов</option>
					<option value="375">Канаш</option>
					<option value="376">Кандалакша</option>
					<option value="377">Канск</option>
					<option value="378">Карабаново</option>
					<option value="379">Карабаш</option>
					<option value="380">Карабулак</option>
					<option value="381">Карасук</option>
					<option value="382">Карачаевск</option>
					<option value="383">Карачев</option>
					<option value="384">Каргат</option>
					<option value="385">Каргополь</option>
					<option value="386">Карпинск</option>
					<option value="387">Карталы</option>
					<option value="388">Касимов</option>
					<option value="389">Касли</option>
					<option value="390">Каспийск</option>
					<option value="391">Катав-Ивановск</option>
					<option value="392">Катайск</option>
					<option value="393">Качканар</option>
					<option value="394">Кашин</option>
					<option value="395">Кашира</option>
					<option value="396">Кедровый</option>
					<option value="397">Кемерово</option>
					<option value="398">Кемь</option>
					<option value="399">Кизел</option>
					<option value="400">Кизилюрт</option>
					<option value="401">Кизляр</option>
					<option value="402">Кимовск</option>
					<option value="403">Кимры</option>
					<option value="404">Кингисепп</option>
					<option value="405">Кинель</option>
					<option value="406">Кинешма</option>
					<option value="407">Киреевск</option>
					<option value="408">Киренск</option>
					<option value="409">Киржач</option>
					<option value="410">Кириллов</option>
					<option value="411">Кириши</option>
					<option value="412">Киров</option>
					<option value="413">Киров</option>
					<option value="414">Кировград</option>
					<option value="415">Кирово-Чепецк</option>
					<option value="416">Кировск</option>
					<option value="417">Кировск</option>
					<option value="418">Кирс</option>
					<option value="419">Кирсанов</option>
					<option value="420">Киселёвск</option>
					<option value="421">Кисловодск</option>
					<option value="422">Климовск</option>
					<option value="423">Клин</option>
					<option value="424">Клинцы</option>
					<option value="425">Княгинино</option>
					<option value="426">Княгинино</option>
					<option value="427">Ковдор</option>
					<option value="428">Ковров</option>
					<option value="429">Ковылкино</option>
					<option value="430">Когалым</option>
					<option value="431">Кодинск</option>
					<option value="432">Козельск</option>
					<option value="433">Козловка</option>
					<option value="434">Козьмодемьянск</option>
					<option value="435">Кола</option>
					<option value="436">Кологрив</option>
					<option value="437">Коломна</option>
					<option value="438">Колпашево</option>
					<option value="439">Кольчугино</option>
					<option value="440">Коммунар</option>
					<option value="441">Комсомольск</option>
					<option value="442">Комсомольск-на-Амуре</option>
					<option value="443">Конаково</option>
					<option value="444">Кондопога</option>
					<option value="445">Кондрово</option>
					<option value="446">Константиновск</option>
					<option value="447">Копейск</option>
					<option value="448">Кораблино</option>
					<option value="449">Кореновск</option>
					<option value="450">Коркино</option>
					<option value="451">Королёв</option>
					<option value="452">Короча</option>
					<option value="453">Корсаков</option>
					<option value="454">Коряжма</option>
					<option value="455">Костерево</option>
					<option value="456">Костомукша</option>
					<option value="457">Кострома</option>
					<option value="458">Котельниково</option>
					<option value="459">Котельнич</option>
					<option value="460">Котлас</option>
					<option value="461">Котово</option>
					<option value="462">Котовск</option>
					<option value="463">Кохма</option>
					<option value="464">Красавино</option>
					<option value="465">Красноармейск</option>
					<option value="466">Красноармейск</option>
					<option value="467">Красновишерск</option>
					<option value="468">Красногорск</option>
					<option value="469">Краснодар</option>
					<option value="470">Краснозаводск</option>
					<option value="471">Краснознаменск</option>
					<option value="472">Краснознаменск</option>
					<option value="473">Краснокаменск</option>
					<option value="474">Краснокамск</option>
					<option value="475">Краснослободск</option>
					<option value="476">Краснослободск</option>
					<option value="477">Краснотурьинск</option>
					<option value="478">Красноуральск</option>
					<option value="479">Красноуфимск</option>
					<option value="480">Красноярск</option>
					<option value="481">Красный Кут</option>
					<option value="482">Красный Сулин</option>
					<option value="483">Красный Холм</option>
					<option value="484">Кремёнки</option>
					<option value="485">Кропоткин</option>
					<option value="486">Крымск</option>
					<option value="487">Кстово</option>
					<option value="488">Кстово</option>
					<option value="489">Кувандык</option>
					<option value="490">Кувшиново</option>
					<option value="491">Кудымкар</option>
					<option value="492">Кузнецк</option>
					<option value="493">Куйбышев</option>
					<option value="494">Кулебаки</option>
					<option value="495">Кулебаки</option>
					<option value="496">Кумертау</option>
					<option value="497">Кунгур</option>
					<option value="498">Купино</option>
					<option value="499">Курган</option>
					<option value="500">Курганинск</option>
					<option value="501">Курильск</option>
					<option value="502">Курлово</option>
					<option value="503">Куровское</option>
					<option value="504">Курск</option>
					<option value="505">Куртамыш</option>
					<option value="506">Курчатов</option>
					<option value="507">Куса</option>
					<option value="508">Кушва</option>
					<option value="509">Кызыл</option>
					<option value="510">Кыштым</option>
					<option value="511">Кяхта</option>
					<option value="512">Лабинск</option>
					<option value="513">Лабытнанги</option>
					<option value="514">Лагань</option>
					<option value="515">Ладушкин</option>
					<option value="516">Лакинск</option>
					<option value="517">Лангепас</option>
					<option value="518">Лахденпохья</option>
					<option value="519">Лебедянь</option>
					<option value="520">Лениногорск</option>
					<option value="521">Ленинск</option>
					<option value="522">Ленинск-Кузнецкий</option>
					<option value="523">Ленск</option>
					<option value="524">Лермонтов</option>
					<option value="525">Лесной</option>
					<option value="526">Лесозаводск</option>
					<option value="527">Лесосибирск</option>
					<option value="528">Ливны</option>
					<option value="529">Ликино-Дулёво</option>
					<option value="530">Липецк</option>
					<option value="531">Липки</option>
					<option value="532">Лиски</option>
					<option value="533">Лихославль</option>
					<option value="534">Лобня</option>
					<option value="535">Лодейное Поле</option>
					<option value="536">Лосино-Петровский</option>
					<option value="537">Луга</option>
					<option value="538">Луза</option>
					<option value="539">Лукоянов</option>
					<option value="540">Лукоянов</option>
					<option value="541">Луховицы</option>
					<option value="542">Лысково</option>
					<option value="543">Лысково</option>
					<option value="544">Лысьва</option>
					<option value="545">Лыткарино</option>
					<option value="546">Льгов</option>
					<option value="547">Любань</option>
					<option value="548">Люберцы</option>
					<option value="549">Любим</option>
					<option value="550">Людиново</option>
					<option value="551">Лянтор</option>
					<option value="552">Магадан</option>
					<option value="553">Магас</option>
					<option value="554">Магнитогорск</option>
					<option value="555">Майкоп</option>
					<option value="556">Майский</option>
					<option value="557">Макаров</option>
					<option value="558">Макарьев</option>
					<option value="559">Макушино</option>
					<option value="560">Малая Вишера</option>
					<option value="561">Малгобек</option>
					<option value="562">Малмыж</option>
					<option value="563">Малоархангельск</option>
					<option value="564">Малоярославец</option>
					<option value="565">Мамадыш</option>
					<option value="566">Мамоново</option>
					<option value="567">Мантурово</option>
					<option value="568">Мариинск</option>
					<option value="569">Мариинский Посад</option>
					<option value="570">Маркс</option>
					<option value="571">Махачкала</option>
					<option value="572">Мглин</option>
					<option value="573">Мегион</option>
					<option value="574">Медвежьегорск</option>
					<option value="575">Медногорск</option>
					<option value="576">Медынь</option>
					<option value="577">Межгорье</option>
					<option value="578">Междуреченск</option>
					<option value="579">Мезень</option>
					<option value="580">Меленки</option>
					<option value="581">Мелеуз</option>
					<option value="582">Менделеевск</option>
					<option value="583">Мензелинск</option>
					<option value="584">Мещовск</option>
					<option value="585">Миасс</option>
					<option value="586">Микунь</option>
					<option value="587">Миллерово</option>
					<option value="588">Минеральные Воды</option>
					<option value="589">Минусинск</option>
					<option value="590">Миньяр</option>
					<option value="591">Мирный</option>
					<option value="592">Мирный</option>
					<option value="593">Михайлов</option>
					<option value="594">Михайловка</option>
					<option value="595">Михайловск</option>
					<option value="596">Михайловск</option>
					<option value="597">Мичуринск</option>
					<option value="598">Могоча</option>
					<option value="599">Можайск</option>
					<option value="600">Можга</option>
					<option value="601">Моздок</option>
					<option value="602">Мончегорск</option>
					<option value="603">Морозовск</option>
					<option value="604">Моршанск</option>
					<option value="605">Мосальск</option>
					<option value="606">Москва</option>
					<option value="607">Муравленко</option>
					<option value="608">Мураши</option>
					<option value="609">Мурманск</option>
					<option value="610">Муром</option>
					<option value="611">Мценск</option>
					<option value="612">Мыски</option>
					<option value="613">Мытищи</option>
					<option value="614">Мышкин</option>
					<option value="615">Набережные Челны</option>
					<option value="616">Навашино</option>
					<option value="617">Навашино</option>
					<option value="618">Наволоки</option>
					<option value="619">Надым</option>
					<option value="620">Назарово</option>
					<option value="621">Назрань</option>
					<option value="622">Называевск</option>
					<option value="623">Нальчик</option>
					<option value="624">Нариманов</option>
					<option value="625">Наро-Фоминск</option>
					<option value="626">Нарткала</option>
					<option value="627">Нарьян-Мар</option>
					<option value="628">Находка</option>
					<option value="629">Невель</option>
					<option value="630">Невельск</option>
					<option value="631">Невинномысск</option>
					<option value="632">Невьянск</option>
					<option value="633">Нелидово</option>
					<option value="634">Неман</option>
					<option value="635">Нерехта</option>
					<option value="636">Нерчинск</option>
					<option value="637">Нерюнгри</option>
					<option value="638">Нестеров</option>
					<option value="639">Нефтегорск</option>
					<option value="640">Нефтекамск</option>
					<option value="641">Нефтекумск</option>
					<option value="642">Нефтеюганск</option>
					<option value="643">Нея</option>
					<option value="644">Нижневартовск</option>
					<option value="645">Нижнекамск</option>
					<option value="646">Нижнеудинск</option>
					<option value="647">Нижние Серги</option>
					<option value="648">Нижний Ломов</option>
					<option value="649">Нижний Новгород</option>
					<option value="650">Нижний Новгород</option>
					<option value="651">Нижний Тагил</option>
					<option value="652">Нижняя Салда</option>
					<option value="653">Нижняя Тура</option>
					<option value="654">Николаевск</option>
					<option value="655">Николаевск-на-Амуре</option>
					<option value="656">Никольск</option>
					<option value="657">Никольск</option>
					<option value="658">Никольское</option>
					<option value="659">Новая Ладога</option>
					<option value="660">Новая Ляля</option>
					<option value="661">Новоалександровск</option>
					<option value="662">Новоалтайск</option>
					<option value="663">Новоаннинский</option>
					<option value="664">Нововоронеж</option>
					<option value="665">Новодвинск</option>
					<option value="666">Новозыбков</option>
					<option value="667">Новокубанск</option>
					<option value="668">Новокузнецк</option>
					<option value="669">Новокуйбышевск</option>
					<option value="670">Новомичуринск</option>
					<option value="671">Новомосковск</option>
					<option value="672">Новопавловск</option>
					<option value="673">Новоржев</option>
					<option value="674">Новороссийск</option>
					<option value="675">Новосибирск</option>
					<option value="676">Новосиль</option>
					<option value="677">Новосокольники</option>
					<option value="678">Новотроицк</option>
					<option value="679">Новоузенск</option>
					<option value="680">Новоульяновск</option>
					<option value="681">Новоуральск</option>
					<option value="682">Новохоперск</option>
					<option value="683">Новочебоксарск</option>
					<option value="684">Новочеркасск</option>
					<option value="685">Новошахтинск</option>
					<option value="686">Новый Оскол</option>
					<option value="687">Новый Уренгой</option>
					<option value="688">Ногинск</option>
					<option value="689">Нолинск</option>
					<option value="690">Норильск</option>
					<option value="691">Ноябрьск</option>
					<option value="692">Нурлат</option>
					<option value="693">Нытва</option>
					<option value="694">Нюрба</option>
					<option value="695">Нягань</option>
					<option value="696">Нязепетровск</option>
					<option value="697">Няндома</option>
					<option value="698">Облучье</option>
					<option value="699">Обнинск</option>
					<option value="700">Обоянь</option>
					<option value="701">Обь</option>
					<option value="702">Одинцово</option>
					<option value="703">Ожерелье</option>
					<option value="704">Озёрск</option>
					<option value="705">Озёрск</option>
					<option value="706">Озёры</option>
					<option value="707">Октябрьск</option>
					<option value="708">Октябрьский</option>
					<option value="709">Окуловка</option>
					<option value="710">Олёкминск</option>
					<option value="711">Оленегорск</option>
					<option value="712">Олонец</option>
					<option value="713">Омск</option>
					<option value="714">Омутнинск</option>
					<option value="715">Онега</option>
					<option value="716">Опочка</option>
					<option value="717">Орёл</option>
					<option value="718">Оренбург</option>
					<option value="719">Орехово-Зуево</option>
					<option value="720">Орлов</option>
					<option value="721">Орск</option>
					<option value="722">Оса</option>
					<option value="723">Осинники</option>
					<option value="724">Осташков</option>
					<option value="725">Остров</option>
					<option value="726">Островной</option>
					<option value="727">Острогожск</option>
					<option value="728">Отрадное</option>
					<option value="729">Отрадный</option>
					<option value="730">Оха</option>
					<option value="731">Оханск</option>
					<option value="732">Очёр</option>
					<option value="733">Павлово</option>
					<option value="734">Павлово</option>
					<option value="735">Павловск</option>
					<option value="736">Павловский Посад</option>
					<option value="737">Палласовка</option>
					<option value="738">Партизанск</option>
					<option value="739">Певек</option>
					<option value="740">Пенза</option>
					<option value="741">Первомайск</option>
					<option value="742">Первомайск</option>
					<option value="743">Первоуральск</option>
					<option value="744">Перевоз</option>
					<option value="745">Перевоз</option>
					<option value="746">Пересвет</option>
					<option value="747">Переславль-Залесский</option>
					<option value="748">Пермь</option>
					<option value="749">Пестово</option>
					<option value="750">Петров Вал</option>
					<option value="751">Петровск</option>
					<option value="752">Петровск-Забайкальский</option>
					<option value="753">Петрозаводск</option>
					<option value="754">Петропавловск-Камчатский</option>
					<option value="755">Петухово</option>
					<option value="756">Петушки</option>
					<option value="757">Печора</option>
					<option value="758">Печоры</option>
					<option value="759">Пикалёво</option>
					<option value="760">Пионерский</option>
					<option value="761">Питкяранта</option>
					<option value="762">Плавск</option>
					<option value="763">Пласт</option>
					<option value="764">Плёс</option>
					<option value="765">Поворино</option>
					<option value="766">Подольск</option>
					<option value="767">Подпорожье</option>
					<option value="768">Покачи</option>
					<option value="769">Покров</option>
					<option value="770">Покровск</option>
					<option value="771">Полевской</option>
					<option value="772">Полесск</option>
					<option value="773">Полысаево</option>
					<option value="774">Полярные Зори</option>
					<option value="775">Полярный</option>
					<option value="776">Поронайск</option>
					<option value="777">Порхов</option>
					<option value="778">Похвистнево</option>
					<option value="779">Почеп</option>
					<option value="780">Починок</option>
					<option value="781">Пошехонье</option>
					<option value="782">Правдинск</option>
					<option value="783">Приволжск</option>
					<option value="784">Приморск</option>
					<option value="785">Приморско-Ахтарск</option>
					<option value="786">Приозерск</option>
					<option value="787">Прокопьевск</option>
					<option value="788">Пролетарск</option>
					<option value="789">Протвино</option>
					<option value="790">Прохладный</option>
					<option value="791">Псков</option>
					<option value="792">Пугачёв</option>
					<option value="793">Пудож</option>
					<option value="794">Пустошка</option>
					<option value="795">Пучеж</option>
					<option value="796">Пушкино</option>
					<option value="797">Пущино</option>
					<option value="798">Пыталово</option>
					<option value="799">Пыть-Ях</option>
					<option value="800">Пятигорск</option>
					<option value="801">Радужный</option>
					<option value="802">Радужный</option>
					<option value="803">Райчихинск</option>
					<option value="804">Раменское</option>
					<option value="805">Рассказово</option>
					<option value="806">Ревда</option>
					<option value="807">Реж</option>
					<option value="808">Реутов</option>
					<option value="809">Ржев</option>
					<option value="810">Родники</option>
					<option value="811">Рославль</option>
					<option value="812">Россошь</option>
					<option value="813">Ростов Великий</option>
					<option value="814">Ростов-на-Дону</option>
					<option value="815">Рошаль</option>
					<option value="816">Ртищево</option>
					<option value="817">Рубцовск</option>
					<option value="818">Рудня</option>
					<option value="819">Руза</option>
					<option value="820">Рузаевка</option>
					<option value="821">Рыбинск</option>
					<option value="822">Рыбное</option>
					<option value="823">Рыльск</option>
					<option value="824">Ряжск</option>
					<option value="825">Рязань</option>
					<option value="826">Салават</option>
					<option value="827">Салаир</option>
					<option value="828">Салехард</option>
					<option value="829">Сальск</option>
					<option value="830">Самара</option>
					<option value="831">Санкт-Петербург</option>
					<option value="832">Саранск</option>
					<option value="833">Сарапул</option>
					<option value="834">Саратов</option>
					<option value="835">Саров</option>
					<option value="836">Саров</option>
					<option value="837">Сасово</option>
					<option value="838">Сатка</option>
					<option value="839">Сафоново</option>
					<option value="840">Саяногорск</option>
					<option value="841">Саянск</option>
					<option value="842">Светлогорск</option>
					<option value="843">Светлоград</option>
					<option value="844">Светлый</option>
					<option value="845">Светогорск</option>
					<option value="846">Свирск</option>
					<option value="847">Свободный</option>
					<option value="848">Себеж</option>
					<option value="849">Северобайкальск</option>
					<option value="850">Северодвинск</option>
					<option value="851">Северо-Курильск</option>
					<option value="852">Североморск</option>
					<option value="853">Североуральск</option>
					<option value="854">Северск</option>
					<option value="855">Севск</option>
					<option value="856">Сегежа</option>
					<option value="857">Сельцо</option>
					<option value="858">Семёнов</option>
					<option value="859">Семёнов</option>
					<option value="860">Семикаракорск</option>
					<option value="861">Семилуки</option>
					<option value="862">Сенгилей</option>
					<option value="863">Серафимович</option>
					<option value="864">Сергач</option>
					<option value="865">Сергач</option>
					<option value="866">Сергиев Посад</option>
					<option value="867">Сердобск</option>
					<option value="868">Серов</option>
					<option value="869">Серпухов</option>
					<option value="870">Сертолово</option>
					<option value="871">Сибай</option>
					<option value="872">Сим</option>
					<option value="873">Сковородино</option>
					<option value="874">Скопин</option>
					<option value="875">Славгород</option>
					<option value="876">Славск</option>
					<option value="877">Славянск-на-Кубани</option>
					<option value="878">Сланцы</option>
					<option value="879">Слободской</option>
					<option value="880">Слюдянка</option>
					<option value="881">Смоленск</option>
					<option value="882">Снежинск</option>
					<option value="883">Снежногорск</option>
					<option value="884">Собинка</option>
					<option value="885">Советск</option>
					<option value="886">Советск</option>
					<option value="887">Советск</option>
					<option value="888">Советская Гавань</option>
					<option value="889">Советский</option>
					<option value="890">Сокол</option>
					<option value="891">Солигалич</option>
					<option value="892">Соликамск</option>
					<option value="893">Солнечногорск</option>
					<option value="894">Сольвычегодск</option>
					<option value="895">Соль-Илецк</option>
					<option value="896">Сольцы</option>
					<option value="897">Сорочинск</option>
					<option value="898">Сорск</option>
					<option value="899">Сортавала</option>
					<option value="900">Сосенский</option>
					<option value="901">Сосновка</option>
					<option value="902">Сосновоборск</option>
					<option value="903">Сосновый Бор</option>
					<option value="904">Сосногорск</option>
					<option value="905">Сочи</option>
					<option value="906">Спас-Деменск</option>
					<option value="907">Спас-Клепики</option>
					<option value="908">Спасск</option>
					<option value="909">Спасск-Дальний</option>
					<option value="910">Спасск-Рязанский</option>
					<option value="911">Среднеколымск</option>
					<option value="912">Среднеуральск</option>
					<option value="913">Сретенск</option>
					<option value="914">Ставрополь</option>
					<option value="915">Старая Русса</option>
					<option value="916">Старица</option>
					<option value="917">Стародуб</option>
					<option value="918">Старый Оскол</option>
					<option value="919">Стерлитамак</option>
					<option value="920">Стрежевой</option>
					<option value="921">Строитель</option>
					<option value="922">Струнино</option>
					<option value="923">Ступино</option>
					<option value="924">Суворов</option>
					<option value="925">Суджа</option>
					<option value="926">Судогда</option>
					<option value="927">Суздаль</option>
					<option value="928">Суоярви</option>
					<option value="929">Сураж</option>
					<option value="930">Сургут</option>
					<option value="931">Суровикино</option>
					<option value="932">Сурск</option>
					<option value="933">Сусуман</option>
					<option value="934">Сухиничи</option>
					<option value="935">Сухой Лог</option>
					<option value="936">Сходня</option>
					<option value="937">Сызрань</option>
					<option value="938">Сыктывкар</option>
					<option value="939">Сысерть</option>
					<option value="940">Сычевка</option>
					<option value="941">Сясьстрой</option>
					<option value="942">Тавда</option>
					<option value="943">Таганрог</option>
					<option value="944">Тайга</option>
					<option value="945">Тайшет</option>
					<option value="946">Талдом</option>
					<option value="947">Талица</option>
					<option value="948">Тамбов</option>
					<option value="949">Тара</option>
					<option value="950">Таруса</option>
					<option value="951">Татарск</option>
					<option value="952">Таштагол</option>
					<option value="953">Тверь</option>
					<option value="954">Теберда</option>
					<option value="955">Тейково</option>
					<option value="956">Темников</option>
					<option value="957">Темрюк</option>
					<option value="958">Терек</option>
					<option value="959">Тетюши</option>
					<option value="960">Тимашевск</option>
					<option value="961">Тихвин</option>
					<option value="962">Тихорецк</option>
					<option value="963">Тобольск</option>
					<option value="964">Тогучин</option>
					<option value="965">Тольятти</option>
					<option value="966">Томари</option>
					<option value="967">Томмот</option>
					<option value="968">Томск</option>
					<option value="969">Топки</option>
					<option value="970">Торжок</option>
					<option value="971">Торопец</option>
					<option value="972">Тосно</option>
					<option value="973">Тотьма</option>
					<option value="974">Трехгорный</option>
					<option value="975">Троицк</option>
					<option value="976">Троицк</option>
					<option value="977">Трубчевск</option>
					<option value="978">Туапсе</option>
					<option value="979">Туймазы</option>
					<option value="980">Тула</option>
					<option value="981">Тулун</option>
					<option value="982">Туран</option>
					<option value="983">Туринск</option>
					<option value="984">Тутаев</option>
					<option value="985">Тында</option>
					<option value="986">Тырныауз</option>
					<option value="987">Тюкалинск</option>
					<option value="988">Тюмень</option>
					<option value="989">Уварово</option>
					<option value="990">Углегорск</option>
					<option value="991">Углич</option>
					<option value="992">Удачный</option>
					<option value="993">Удомля</option>
					<option value="994">Ужур</option>
					<option value="995">Узловая</option>
					<option value="996">Улан-Удэ</option>
					<option value="997">Ульяновск</option>
					<option value="998">Унеча</option>
					<option value="999">Урай</option>
					<option value="1000">Урень</option>
					<option value="1001">Урень</option>
					<option value="1002">Уржум</option>
					<option value="1003">Урус-Мартан</option>
					<option value="1004">Урюпинск</option>
					<option value="1005">Усинск</option>
					<option value="1006">Усмань</option>
					<option value="1007">Усолье</option>
					<option value="1008">Усолье-Сибирское</option>
					<option value="1009">Уссурийск</option>
					<option value="1010">Усть-Джегута</option>
					<option value="1011">Усть-Илимск</option>
					<option value="1012">Усть-Катав</option>
					<option value="1013">Усть-Кут</option>
					<option value="1014">Усть-Лабинск</option>
					<option value="1015">Устюжна</option>
					<option value="1016">Уфа</option>
					<option value="1017">Ухта</option>
					<option value="1018">Учалы</option>
					<option value="1019">Уяр</option>
					<option value="1020">Фатеж</option>
					<option value="1021">Фокино</option>
					<option value="1022">Фокино</option>
					<option value="1023">Фролово</option>
					<option value="1024">Фрязино</option>
					<option value="1025">Фурманов</option>
					<option value="1026">Хабаровск</option>
					<option value="1027">Хадыженск</option>
					<option value="1028">Ханты-Мансийск</option>
					<option value="1029">Харабали</option>
					<option value="1030">Харовск</option>
					<option value="1031">Хасавюрт</option>
					<option value="1032">Хвалынск</option>
					<option value="1033">Хилок</option>
					<option value="1034">Химки</option>
					<option value="1035">Холм</option>
					<option value="1036">Холмск</option>
					<option value="1037">Хотьково</option>
					<option value="1038">Цивильск</option>
					<option value="1039">Цимлянск</option>
					<option value="1040">Чадан</option>
					<option value="1041">Чайковский</option>
					<option value="1042">Чапаевск</option>
					<option value="1043">Чаплыгин</option>
					<option value="1044">Чебаркуль</option>
					<option value="1045">Чебоксары</option>
					<option value="1046">Чегем</option>
					<option value="1047">Чекалин</option>
					<option value="1048">Челябинск</option>
					<option value="1049">Чердынь</option>
					<option value="1050">Черемхово</option>
					<option value="1051">Черепаново</option>
					<option value="1052">Череповец</option>
					<option value="1053">Черкесск</option>
					<option value="1054">Чёрмоз</option>
					<option value="1055">Черноголовка</option>
					<option value="1056">Черногорск</option>
					<option value="1057">Чернушка</option>
					<option value="1058">Черняховск</option>
					<option value="1059">Чехов</option>
					<option value="1060">Чистополь</option>
					<option value="1061">Чита</option>
					<option value="1062">Чкаловск</option>
					<option value="1063">Чкаловск</option>
					<option value="1064">Чудово</option>
					<option value="1065">Чулым</option>
					<option value="1066">Чусовой</option>
					<option value="1067">Чухлома</option>
					<option value="1068">Шагонар</option>
					<option value="1069">Шадринск</option>
					<option value="1070">Шали</option>
					<option value="1071">Шарыпово</option>
					<option value="1072">Шарья</option>
					<option value="1073">Шатура</option>
					<option value="1074">Шахтёрск</option>
					<option value="1075">Шахты</option>
					<option value="1076">Шахунья</option>
					<option value="1077">Шахунья</option>
					<option value="1078">Шацк</option>
					<option value="1079">Шебекино</option>
					<option value="1080">Шелехов</option>
					<option value="1081">Шенкурск</option>
					<option value="1082">Шилка</option>
					<option value="1083">Шимановск</option>
					<option value="1084">Шиханы</option>
					<option value="1085">Шлиссельбург</option>
					<option value="1086">Шумерля</option>
					<option value="1087">Шумиха</option>
					<option value="1088">Шуя</option>
					<option value="1089">Щёкино</option>
					<option value="1090">Щёлково</option>
					<option value="1091">Щербинка</option>
					<option value="1092">Щигры</option>
					<option value="1093">Щучье</option>
					<option value="1094">Электрогорск</option>
					<option value="1095">Электросталь</option>
					<option value="1096">Электроугли</option>
					<option value="1097">Элиста</option>
					<option value="1098">Энгельс</option>
					<option value="1099">Эртиль</option>
					<option value="1100">Юбилейный</option>
					<option value="1101">Югорск</option>
					<option value="1102">Южа</option>
					<option value="1103">Южно-Сахалинск</option>
					<option value="1104">Южно-Сухокумск</option>
					<option value="1105">Южноуральск</option>
					<option value="1106">Юрга</option>
					<option value="1107">Юрьевец</option>
					<option value="1108">Юрьев-Польский</option>
					<option value="1109">Юрюзань</option>
					<option value="1110">Юхнов</option>
					<option value="1111">Ядрин</option>
					<option value="1112">Якутск</option>
					<option value="1113">Ялуторовск</option>
					<option value="1114">Янаул</option>
					<option value="1115">Яранск</option>
					<option value="1116">Яровое</option>
					<option value="1117">Ярославль</option>
					<option value="1118">Ярцево</option>
					<option value="1119">Ясногорск</option>
					<option value="1120">Ясный</option>
					<option value="1121">Яхрома</option>
				</select>
			</div>
			<hr>
			<div class="css-table full-width">
				<div class="css-table-cell half" style="padding-right:10px;">
					<label for="_pwd" class="medium-13 label-above">Пароль</label>
					<input type="password" id="_pwd" name="_pwd" class="input full-width with-margin" required>
				</div>
				<div class="css-table-cell half" style="padding-left:10px;">
					<label for="_pwd2" class="medium-13 label-above">Повтор пароля</label>
					<input type="password" id="_pwd2" name="_pwd2" class="input full-width with-margin" required>
				</div>
			</div>
			<label class="efes-checkbox">
				<input type="checkbox" name="_agreement" value="1" class="efes-checkbox-input" required>
				<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
				<span class="css-table-cell middle medium-13">Cогласен с <a href="<?php echo $baseUrl ?>rules/rules.html" class="italic bold">правилами акции</a></span>
			</label>
			<label class="efes-checkbox">
				<input type="checkbox" name="_agreement2" value="1" class="efes-checkbox-input" required>
				<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
				<span class="css-table-cell middle medium-13">Согласие на обработку персональных данных и получение информационных сообщений</span>
			</label>
			<div style="padding-left:38px; margin:1px 0 13px;">
				<div id="agreementText" class="scroll scroll-style-other">
					<p class="agreement-p">Настоящим я, являясь совершеннолетним дееспособным гражданином РФ, в соответствии со статьей 7 и статьей 9 Федерального закона № 152-ФЗ от 27 июля 2006 года «О персональных данных», свободно, своей волей и в своём интересе, предоставляю согласие компании ЗАО «Пивоварня Москва-Эфес» (ОГРН 1027739172042, г. Москва, 117546, ул. Подольских Курсантов, 15Б) ее филиалам, аффилированным и уполномоченным лицам, действующим в соответствии с соглашениями о конфиденциальности, а также компаниям ООО «Дивайс» (ОГРН 1077763891424, г. Москва, ул.  Большая Грузинская д. 60, стр. 1) и ООО «А1 Интерэктив» (ОГРН 1087746789272, г. Москва, пер. Переведеновский, д. 13/13, стр 4), действующим по поручению  ЗАО «Пивоварня Москва-Эфес», на осуществление автоматизированной и неавтоматизированной обработки моих персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу, включая трансграничную передачу), обезличивание, блокирование, уничтожение предоставленных мной моих персональных данных, перечень которых отражен в форме регистрации.</p>
					<p class="agreement-p">Согласие предоставляется в целях осуществления вышеуказанными лицами любых контактов со мной в отношении рекламных акций, направления мне информации и рекламных материалов, относящихся к продукции компании ЗАО «Пивоварня Москва-Эфес», приглашений на сайты ЗАО «Пивоварня Москва-Эфес», рассылки иной информации посредством электронной связи или иным способом (включая почту, электронную почту, SMS, MMS), а также для целей верификации данных о моем возрасте, проведения маркетинговых исследований и анализа, разработки маркетинговых, рекламных программ и программ производства, создания баз данных, соблюдения требований законодательства Российской Федерации. </p>
					<p class="agreement-p last">Настоящее согласие действует со дня его предоставления до даты его отзыва в письменной форме путем направления мною по почте в адрес ЗАО «Пивоварня Москва-Эфес» (117546, г. Москва, ул. Подольских Курсантов, 15Б), письменного уведомления.</p>
				</div>
			</div>
			<input type="submit" class="button big animated full-width" value="Зарегистрироваться">
		</form>
	</div>
</div>
<script>
	$('#agreementText').jScrollPane();
	$('#agreementText').find('.jspPane').width($('#agreementText').find('.jspContainer').width()-21);
	
	$.mockjax({
		url: "http://"+ window.location.hostname + efesBaseUrl +"registration",
		responseStatus: 200,
		responseTime: 2000
	});
	
	$('#efesRegistrationForm').form({
		successMessage: 'Регистрация прошла успешно!',
		messages: {
			'_name1': 'Это поле необходимо заполнить',
			'_name2': 'Это поле необходимо заполнить',
			'_name3': 'Это поле необходимо заполнить',
			'_email': 'Это поле необходимо заполнить',
			'_phone': 'Это поле необходимо заполнить',
			'_birth1': 'Это поле необходимо заполнить',
			'_birth2': 'Это поле необходимо заполнить',
			'_birth3': 'Это поле необходимо заполнить',
			'_pwd': 'Это поле необходимо заполнить',
			'_pwd2': 'Это поле необходимо заполнить',
			'_agreement': 'Необходимо принять условия',
			'_agreement2': 'Необходимо принять условия'
		}
	});
</script>