<div class="left" style="width:800px">
	<h1 class="center">Правила</h1>
	<p class="font-18 medium">Участвуй в акции!</p>
	<p class="font-18 medium normalcase">Найди промо-код под крышкой/ключом, зарегистрируй его на сайте <a href="http://efesyacht.com" class="uppercase bold italic">efesyacht.com</a> или по короткому номеру <span class="uppercase bold italic yellow">6125*</span> и получай гарантированные призы от EfesPilsner!</p>
	<p class="medium-13">
		<span class="yellow bold font-23 normalcase">2 кода</span> — 30 рублей на лицевой счет мобильного телефона<br>
		<span class="yellow bold font-23 normalcase">6 кодов</span> — пляжное полотенце или тапочки<br>
		<span class="yellow bold font-23 normalcase">12 кодов</span> — шляпа или сумка-холодильник
	</p>
	<hr>
	<p class="font-18 medium">Регистрируй коды, играй и займи каюту на яхте!</p>
	<ul class="efes-ul">
		<li class="efes-ul-item medium-13">Зарегистрируйся на сайте <a href="http://efesyacht.com" class="bold italic">www.efesyacht.com</a></li>
		<li class="efes-ul-item medium-13">Прими участие в игре <span class="bold italic">«Partyyacht**»</span> на сайте <a href="http://party-yacht.com" class="bold italic">Party-yacht.com</a> и набери не менее 1000 баллов</li>
		<li class="efes-ul-item medium-13">Чем больше у тебя баллов, тем выше шансы на победу!</li>
		<li class="efes-ul-item medium-13">Регистрируй коды и получай дополнительные преимущества в игре!</li>
	</ul>
	<p class="medium-13">Обладатели главного приза отправятся в путешествие по Средиземному морю.</p>
	<p>
		<span class="yellow bold font-18">*</span><span class="dark-blue normalcase"> — Максимальная стоимость отправки сообщения составляет 1,77 руб. с НДС</span><br>
		<span class="bold">**</span><span class="dark-blue normalcase"> — Яхт-вечеринка</span>
	</p>
	<p class="normalcase">К участию в Акции допускаются дееспособные лица, граждане Российской Федерации, достигшие 18 лет,<br> постоянно проживающие на территории РФ.</p>
	<p>
		<span class="medium-13">Период проведения акции: <span class="yellow">с 01.07.2014 по 30.09.2014</span></span><br>
		<span class="medium-13">Регистрация кодов осуществляется <span class="yellow">с 01.07.2014 г. по 31.08.2014 г.</span></span><br>
		<span class="normalcase">1 участник может получить не более 2 призов «30 рублей», 1 пляжного полотенца, 1 тапочек, 1 шляпы и 1 сумки-холодильника.</span>
	</p>
	<p class="medium-13">Мы определим обладателей главного приза:</p>
	<p class="medium-13 yellow">
		20 июля 2014 года за период 1 июля– 18 июля 2014 года;<br>
		7 августа 2014 года за период 19 июля– 5 августа 2014 года;<br>
		26 августа 2014 года за период 6 августа – 24 августа 2014 года.
	</p>
	<hr>
	<p class="normalcase">Подробности акции, а также информацию об организаторе, количестве призов, сроках, местах и порядке их получения<br> можно узнать в <a href="" class="bold italic yellow uppercase">Полных правилах акции</a>.</p>
</div>