<?php $baseUrl = dirname(dirname(dirname($_SERVER['SCRIPT_NAME']))).'/' ?>
<div class="left" style="width:360px;">
	<form id="efesWheretogetForm" method="post" action="<?php echo $baseUrl ?>test.response">
		<p class="medium-13" style="padding-left:38px;">Для участников акции из Москвы,<br> Санкт-Петербурга и прилегающих<br> районов работают пункты<br> самовывоза:</p>
		<label class="efes-checkbox">
			<input type="radio" name="_deliveryPoint" value="1" class="efes-checkbox-input" required>
			<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
			<span class="css-table-cell middle medium-13">Центр выдачи призов в Москве №1</span>
		</label>
		<div class="medium-13" style="padding-left:38px; margin-bottom:20px;">
			<span class="dark-blue">Адрес:</span><br>
			<span class="dark-blue">График работы:</span>
		</div>
		<label class="efes-checkbox">
			<input type="radio" name="_deliveryPoint" value="2" class="efes-checkbox-input" required>
			<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
			<span class="css-table-cell middle medium-13">Центр выдачи призов в Москве №2</span>
		</label>
		<div class="medium-13" style="padding-left:38px;">
			<span class="dark-blue">Адрес:</span><br>
			<span class="dark-blue">График работы:</span>
		</div>
		<hr>
		<label class="efes-checkbox">
			<input type="radio" name="_deliveryPoint" value="3" class="efes-checkbox-input" required>
			<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a tooltip-error"><span class="efes-checkbox-control-b"></span></span></span>
			<span class="css-table-cell middle medium-13">Центр выдачи призов в Санкт-Петербурге</span>
		</label>
		<div class="medium-13" style="padding-left:38px;">
			<span class="dark-blue">Адрес:</span><br>
			<span class="dark-blue">График работы:</span>
		</div>
		<hr>
		<p class="medium-13" style="padding-left:38px; margin-bottom:20px;">Для участников акции из других городов<br> приз будет доставлен Почтой России<br> по указанному ими адресу.</p>
		<input type="submit" class="button big animated full-width" value="Ok">
	</form>
</div>
<script>
	$('#efesWheretogetForm').form({
		successMessage: 'Спасибо, ваша заявка принята!<br> Вы сможете забрать ваш приз<br> в центре выдачи<br> через 3 рабочих дня.',
		messages: {
			'_deliveryPoint': 'Необходимо выбрать пункт доставки',
		}
	});
</script>