<?php require('html/head.html') ?>
<div id="content"></div>
<div id="efesSpecialOverlay">
	<div class="css-table full-size">
		<div class="css-table-cell middle center">
			<div class="efes-blue-rounded-box" style="width:420px; display:inline-block;">
				<div style="margin:15px 0 0;">
					<div class="medium font-18" style="margin-bottom:40px;">Регистрация кодов закончена</div>
					<a href="<?php echo $baseUrl ?>html/ajax/rules.html" rel="popup" data-popup-id="rules" class="button big full-width animated">Правила акции</a>
				</div>
			</div>
			<div style="position:relative; top:80px;">
				<a href="<?php echo $baseUrl ?>html/ajax/feedback.html" rel="popup" data-popup-id="feedback" class="button big other animated">Обратная связь</a>
			</div>
		</div>
	</div>
</div>
<style>.popup-container-inner { padding-top: 75px; }</style>
<?php require('html/footer.html') ?>