<?php require('html/head.html') ?>
<div style="height:600px;"></div>
<div id="efesSpecialOverlay">
	<div class="css-table full-size">
		<div class="css-table-cell middle center">
			<div class="efes-white-message medium font-30" style="margin-top:-100px;">Сайт доступен только для лиц старше 18 лет</div><br>
			<div class="efes-blue-rounded-box" style="width:440px; display:inline-block; margin:50px 0 0;">
				<h1 class="font-30" style="margin:0;">Проверка возраста</h1>
				<p class="medium-13" style="margin:6px 0 25px;">Пожалуйста, введите дату Вашего рождения</p>
				<form id="efesAgeForm" method="post" action="<?php echo $baseUrl ?>test.response">
					<div class="css-table full-width left">
						<div class="css-table-cell third" style="padding-right:20px;">
							<select name="age[day]" class="efes-dropdown" required>
								<option value="" selected disabled>День</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
						</div>
						<div class="css-table-cell third" style="padding-right:20px;">
							<select name="age[month]" class="efes-dropdown" required>
								<option value="" selected disabled>Месяц</option>
								<option value="1">Январь</option>
								<option value="2">Февраль</option>
								<option value="3">Март</option>
								<option value="4">Апрель</option>
								<option value="5">Май</option>
								<option value="6">Июнь</option>
								<option value="7">Июль</option>
								<option value="8">Август</option>
								<option value="9">Сентябрь</option>
								<option value="10">Октябрь</option>
								<option value="11">Ноябрь</option>
								<option value="12">Декабрь</option>
							</select>
						</div>
						<div class="css-table-cell third">
							<select name="age[year]" class="efes-dropdown" required>
								<option value="" selected disabled>Год</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
								<option>1989</option>
								<option>1988</option>
								<option>1987</option>
								<option>1986</option>
								<option>1985</option>
								<option>1984</option>
								<option>1983</option>
								<option>1982</option>
								<option>1981</option>
								<option>1980</option>
								<option>1979</option>
								<option>1978</option>
								<option>1977</option>
								<option>1976</option>
								<option>1975</option>
								<option>1974</option>
								<option>1973</option>
								<option>1972</option>
								<option>1971</option>
								<option>1970</option>
								<option>1969</option>
								<option>1968</option>
								<option>1967</option>
								<option>1966</option>
								<option>1965</option>
								<option>1964</option>
								<option>1963</option>
								<option>1962</option>
								<option>1961</option>
								<option>1960</option>
								<option>1959</option>
								<option>1958</option>
								<option>1957</option>
								<option>1956</option>
								<option>1955</option>
								<option>1954</option>
								<option>1953</option>
								<option>1952</option>
								<option>1951</option>
								<option>1950</option>
							</select>
						</div>
					</div>
					<div class="css-table full-width left" style="margin:20px 0 30px;">
						<div class="css-table-cell half" style="padding-right:20px;">
							<select name="age[natinality]" class="efes-dropdown" required>
								<option value="" selected disabled>Национальность</option>
								<option value="1">Русский</option>
								<option value="2">Нерусский</option>
							</select>
						</div>
						<div class="css-table-cell half">
							<select name="age[country]" class="efes-dropdown" required>
								<option value="" selected disabled>Страна</option>
								<option value="1">Россия</option>
								<option value="2">Остальные страны</option>
							</select>
						</div>
					</div>
					<input type="submit" class="button big full-width animated" value="Подтвердить">
				</form>
			</div>
		</div>
	</div>
</div>
<?php require('html/footer.html') ?>