<?php require('html/head.html') ?>
<div id="efesSpecialOverlay">
	<div class="css-table full-size">
		<div class="css-table-cell middle center">
			<div class="efes-blue-rounded-box" style="width:420px; display:inline-block;">
				<div style="margin:30px 0;">
					<div class="medium font-18" style="margin-bottom:10px;">Акция начинается</div>
					<div class="yellow italic bold font-30 normalcase">01.07.2014</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php require('html/footer.html') ?>