<?php require('html/head.html') ?>
<div id="efesSpecialOverlay">
	<div class="css-table full-size">
		<div class="css-table-cell middle center">
			<div class="efes-white-message medium font-30">Сайт находится в разработке</div><br>
		</div>
	</div>
</div>
<?php require('html/footer.html') ?>