<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div id="frontpageContainer">
			<div id="frontpage">
				<div>
					<div id="frontpageBoardFirst">
						<img src="img/frontpage-board-first.png" alt="">
					</div>
					<div id="frontpageBoardSecond">
						<img src="img/frontpage-board-second.png" alt="">
						<div id="playButton"><a href="<?php echo $baseUrl ?>game/frontpage.html"></a></div>
					</div>
					<div id="frontpageYacht">
						<img src="img/yacht.png" alt="">
					</div>
				</div>
				<div id="frontpageBackground">
					<img src="img/parallax-background.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
<?php require('footer.html') ?>