<div id="header" class="visible">
	<div id="efesHeaderLeaves"><img id="efesHeaderLeavesImg" src="<?php echo $baseUrl ?>img/header-leaves.png" alt=""></div>
	<div id="woodenBar">
		<div class="container">
			<div id="woodenBarTopRow" class="row-table">
				<?php if (isset($_COOKIE['efesUserRegistred']) && $_COOKIE['efesUserRegistred']): ?>
					<div class="middle">
						<a id="userName" href="<?php echo $baseUrl ?>profile/profile.html" title="Личный кабинет">Андрей</a>
					</div>
					<div class="middle center">
						<div id="userInfo">
							<span>Всего кодов: <strong class="yellow">210</strong></span>
							<span>Активировано: <strong class="yellow">19</strong></span>
						</div>
					</div>
					<div class="middle no-width no-wrap">
						<nav id="navUserLinks" class="buttons-inline">
							<a href="<?php echo $baseUrl ?>" class="button transparent on-dark sausage with-animated-circle-icon">
								Выйти<i class="plus"><span class="animated-circle-icon"><span></span></span></i>
							</a>
						</nav>
					</div>
				<?php else: ?>
					<div class="middle">&nbsp;</div>
					<div class="middle no-wrap fourth">
						<nav id="navUserLinks" class="buttons-inline">
							<a href="<?php echo $baseUrl ?>html/ajax/login.html" rel="popup" class="button transparent on-dark sausage" data-popup-id="login">
								Войти
							</a><a href="<?php echo $baseUrl ?>html/ajax/registration.html" rel="popup" class="button transparent on-dark sausage with-animated-circle-icon" data-popup-id="register">
								Регистрация<i class="plus"><span class="animated-circle-icon"><span></span></span></i>
							</a>
						</nav>
					</div>
				<?php endif ?>
			</div>
			<div id="woodenBarMainRow" class="row-table">
				<div class="middle">
					<nav id="navMain">
						<a href="<?php echo $baseUrl ?>frontpage.html"<?php if ($url=='frontpage.html') echo ' class="current"' ?>>
							Главная
						</a><a href="<?php echo $baseUrl ?>prizes/prizes.html"<?php if ($url=='prizes/prizes.html') echo ' class="current"' ?>>
							Призы
						</a><a href="<?php echo $baseUrl ?>rules/rules.html"<?php if ($url=='rules/rules.html') echo ' class="current"' ?>>
							Правила
						</a><a href="<?php echo $baseUrl ?>faq/faq.html"<?php if ($url=='faq/faq.html') echo ' class="current"' ?>>
							FAQ
						</a><a href="<?php echo $baseUrl ?>rating/rating.html"<?php if ($url=='rating/rating.html') echo ' class="current"' ?>>
							Рейтинг
						</a>
					</nav>
				</div>
				<div class="middle no-width">
					<div id="enterCodeBar">
						<form method="post" action="" name="enterCode">
							<div class="row-table">
								<div class="middle">
									<label for="enterCode1">Ввести код</label>
								</div>
								<div id="enterCodeInputsContainer" class="middle">
									<div id="enterCodeInputs">
										<div class="row-table">
											<div>
												<input type="text" id="enterCode1" class="input block full-width" name="enterCode[code][0]">
											</div>
											<div class="no-width top">
												<div id="addCodeButton" title="Добавить ещё код"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="middle">
									<input type="submit" value="Ok" id="enterCodeOkButton" class="button circle animated">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="feedbackSlidedown">
		<div>
			<div class="content">
			</div>
			<div class="trigger">
				<div class="open">Обратная связь</div>
				<div class="close"></div>
			</div>
		</div>
	</div>
	<div id="feedbackSlidedownTrigger"></div>
	<div id="feedbackSlidedownTopOverlay"></div>
</div>