<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div class="container">
			<div id="prizesShowcase" class="center">
				<div id="prizesShowcaseRotator">
					<div id="prizesShowcaseRotatorPodium">
						<div id="prizesShowcaseRotatorPodiumPrizes">
							<img src="<?php echo $baseUrl ?>img/prizes-big-1.png" alt="" class="prizes-showcase-podium-prize" data-id="1" style="display:block;">
							<img src="<?php echo $baseUrl ?>img/prizes-big-2.png" alt="" class="prizes-showcase-podium-prize" data-id="2" style="display:none;">
							<img src="<?php echo $baseUrl ?>img/prizes-big-3.png" alt="" class="prizes-showcase-podium-prize" data-id="3" style="display:none;">
							<img src="<?php echo $baseUrl ?>img/prizes-big-4.png" alt="" class="prizes-showcase-podium-prize" data-id="4" style="display:none;">
							<img src="<?php echo $baseUrl ?>img/prizes-big-5.png" alt="" class="prizes-showcase-podium-prize" data-id="5" style="display:none;">
							<img src="<?php echo $baseUrl ?>img/prizes-big-6.png" alt="" class="prizes-showcase-podium-prize" data-id="6" style="display:none;">
						</div>
						<div id="prizesShowcaseRotatorPodiumContent">
							<div class="prizes-showcase-podium-content" data-id="1" style="display:block;">
								<h2 class="yellow prizes-showcase-title">30 рублей на телефон</h2>
								<p class="medium-13">Зарегистрируй 2 кода<br> и получи 30 рублей на лицевой счет<br> своего телефона!</p>
								<p class="medium-13">
									Осталось:<br>
									<span class="prizes-showcase-podium-content-remain"><span class="thousands-separator">57</span><span class="thousands-separator">785</span></span>
								</p>
							</div>
							<div class="prizes-showcase-podium-content" data-id="2" style="display:none;">
								<h2 class="yellow prizes-showcase-title">Пляжное полотенце</h2>
								<p class="medium-13">
									Зарегистрируй 6 кодов и получи легкое и компактное<br> пляжное полотенце. Незаменимая вещь<br> для любого отдыха!<br>
									<span class="blue">(Материал: Микрофибра. Размер: 120*60см)</span>
								</p>
								<p class="medium-13">
									Осталось:<br>
									<span class="prizes-showcase-podium-content-remain"><span class="thousands-separator">57</span><span class="thousands-separator">785</span></span>
								</p>
							</div>
							<div class="prizes-showcase-podium-content" data-id="3" style="display:none;">
								<h2 class="yellow prizes-showcase-title">Тапочки</h2>
								<p class="medium-13">
									Зарегистрируй 6 кодов и получи пляжные тапочки<br> с изображением штурвала! Теперь ты готов<br> покорять Средиземное!<br>
									<span class="blue">(Размеры тапочек: 37,39,42,43)</span>
								</p>
								<p class="medium-13">
									Осталось:<br>
									<span class="prizes-showcase-podium-content-remain"><span class="thousands-separator">57</span><span class="thousands-separator">785</span></span>
								</p>
							</div>
							<div class="prizes-showcase-podium-content" data-id="4" style="display:none;">
								<h2 class="yellow prizes-showcase-title">Шляпа</h2>
								<p class="medium-13">
									Зарегистрируй 12 кодов и получи стильную<br> летнюю шляпу! Хит любого пляжного сезона.<br>
									<span class="blue">(Материал: хлопок)</span>
								</p>
								<p class="medium-13">
									Осталось:<br>
									<span class="prizes-showcase-podium-content-remain"><span class="thousands-separator">57</span><span class="thousands-separator">785</span></span>
								</p>
							</div>
							<div class="prizes-showcase-podium-content" data-id="5" style="display:none;">
								<h2 class="yellow prizes-showcase-title">Сумка-холодильник</h2>
								<p class="medium-13">
									Зарегистрируй 12 кодов и получи сумку-холодильник!<br> Напитки, которые ты возьмешь на пляж,<br> всегда останутся холодными!<br>
									<span class="blue">(Вместимость: 6 банок/бутылок 0,5 л)</span>
								</p>
								<p class="medium-13">
									Осталось:<br>
									<span class="prizes-showcase-podium-content-remain"><span class="thousands-separator">57</span><span class="thousands-separator">785</span></span>
								</p>
							</div>
							<div class="prizes-showcase-podium-content" data-id="6" style="display:none;">
								<h2 class="yellow prizes-showcase-title">Главный приз</h2>
								<p class="medium-13">
									Набери не менее 1000 баллов в игре на сайте<br>
								</p>
								<a href="http://www.party-yacht.com" class="yellow font-22 bold italic">party-yacht.com</a>
							</div>
						</div>
					</div>
					<div id="prizesShowcaseRotatorControlLeft" class="prizes-showcase-rotator-control"></div>
					<div id="prizesShowcaseRotatorControlRight" class="prizes-showcase-rotator-control"></div>
				</div>
				<div id="prizesShowcasePlank">
					<div class="prizes-showcase-plank-item current" data-id="1"></div>
					<div class="prizes-showcase-plank-item" data-id="2"></div>
					<div class="prizes-showcase-plank-item" data-id="3"></div>
					<div class="prizes-showcase-plank-item" data-id="4"></div>
					<div class="prizes-showcase-plank-item" data-id="5"></div>
					<div class="prizes-showcase-plank-item" data-id="6"></div>
				</div>
				<a href="<?php echo $baseUrl ?>html/ajax/wheretoget.html" class="button big animated other" rel="popup">Где получить?</a>
			</div>
		</div>
	</div>
				
<?php require('footer.html') ?>