<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div class="container">
			<div id="profile" class="efes-content-blue-box">
				<div id="profileYacht"></div>
				<div id="profileContent">
					<h1 class="center">Личный кабинет</h1>
					<div class="css-table">
						<div class="css-table-cell middle" style="width:460px; padding-right:60px;">
							<span id="efesProfileName" class="medium font-18">Константин Константинопольский</span>
						</div>
						<div class="css-table-cell middle" style="width:200px; padding-right:20px;">
							<span class="medium-13">+7 (921) 123-45-67</span><br>
							<span class="medium-13 yellow normalcase">konstantin@example.com</span>
						</div>
						<div class="css-table-cell middle" style="width:225px;">
							<a href="<?php echo $baseUrl ?>html/ajax/profile-password-change.html" rel="popup" class="button big blue full-width" data-popup-id="efesProfilePasswordChange">Сменить пароль</a>
							<!-- Здесь остальные попапы личного кабинета
							<a href="<?php echo $baseUrl ?>html/ajax/profile-address-deliver-to.html" rel="popup" class="button big blue full-width" data-popup-id="efesProfileAddressDeliverTo">Сменить пароль</a>
							<a href="<?php echo $baseUrl ?>html/ajax/profile-address-take-from.html" rel="popup" class="button big blue full-width" data-popup-id="efesProfileAddressTakeFrom">Сменить пароль</a>
							<a href="<?php echo $baseUrl ?>html/ajax/profile-confirmation.html" rel="popup" class="button big blue full-width" data-popup-id="efesProfileConfirmation">Сменить пароль</a>
							-->
						</div>
					</div>
					<hr>
					<div class="css-table">
						<div class="css-table-cell" style="width:150px; padding-right:20px;">
							<span class="medium-13">Всего введено кодов:</span><br>
							<span class="yellow font-22 bold">20</span>
						</div>
						<div class="css-table-cell" style="width:140px; padding-right:20px;">
							<span class="medium-13">Активировано:</span><br><br>
							<span class="yellow font-22 bold">4</span>
						</div>
						<div class="css-table-cell" style="width:100px; padding-right:20px;">
							<span class="medium-13">Осталось<br> кодов:</span><br>
							<span class="yellow font-22 bold">16</span>
						</div>
						<div class="css-table-cell" style="width:200px; padding-right:20px;">
							<span class="medium-13">Статус Вашего паспорта:</span><br>
							<span class="medium-13 yellow" style="position:relative; top:5px;">Не загружен</span>
						</div>
						<div class="css-table-cell middle" style="width:225px;">
							<a href="<?php echo $baseUrl ?>html/ajax/profile-passport.html" rel="popup" class="button big blue full-width" data-popup-id="efesProfilePassport">Загрузить</a>
						</div>
					</div>
					<hr>
					<h2 class="center medium">Выбери свой приз от Efes Pilsener</h2>
					<div id="efesProfilePrizesPlank">
						<div class="efes-profile-prizes-plank-item" data-id="1">
							<div class="efes-profile-prizes-plank-item-big" data-id="1">
								<img src="<?php echo $baseUrl ?>img/prizes-big-1.png" alt="" class="efes-profile-prizes-big-image">
								<h2 class="yellow prizes-showcase-title">30 рублей на телефон</h2>
								<p class="medium-13">Зарегистрируй 2 кода<br> и получи 30 рублей на лицевой счет<br> своего телефона!</p>
							</div>
						</div>
						<div class="efes-profile-prizes-plank-item" data-id="2">
							<div class="efes-profile-prizes-plank-item-big" data-id="2">
								<img src="<?php echo $baseUrl ?>img/prizes-big-2.png" alt="" class="efes-profile-prizes-big-image">
								<h2 class="yellow prizes-showcase-title">Пляжное полотенце</h2>
								<p class="medium-13">
									Зарегистрируй 6 кодов и получи легкое и компактное<br> пляжное полотенце. Незаменимая вещь<br> для любого отдыха!<br>
									<span class="blue">(Материал: Микрофибра. Размер: 120*60см)</span>
								</p>
							</div>
						</div>
						<div class="efes-profile-prizes-plank-item" data-id="3">
							<div class="efes-profile-prizes-plank-item-big" data-id="3">
								<img src="<?php echo $baseUrl ?>img/prizes-big-3.png" alt="" class="efes-profile-prizes-big-image">
								<h2 class="yellow prizes-showcase-title">Тапочки</h2>
								<p class="medium-13">
									Зарегистрируй 6 кодов и получи пляжные тапочки<br> с изображением штурвала! Теперь ты готов<br> покорять Средиземное!<br>
									<span class="blue">(Размеры тапочек: 37,39,42,43)</span>
								</p>
							</div>
						</div>
						<div class="efes-profile-prizes-plank-item" data-id="4">
							<div class="efes-profile-prizes-plank-item-big" data-id="4">
								<img src="<?php echo $baseUrl ?>img/prizes-big-4.png" alt="" class="efes-profile-prizes-big-image">
								<h2 class="yellow prizes-showcase-title">Шляпа</h2>
								<p class="medium-13">
									Зарегистрируй 12 кодов и получи стильную<br> летнюю шляпу! Хит любого пляжного сезона.<br>
									<span class="blue">(Материал: хлопок)</span>
								</p>
							</div>
						</div>
						<div class="efes-profile-prizes-plank-item" data-id="5">
							<div class="efes-profile-prizes-plank-item-big" data-id="5">
								<img src="<?php echo $baseUrl ?>img/prizes-big-5.png" alt="" class="efes-profile-prizes-big-image">
								<h2 class="yellow prizes-showcase-title">Сумка-холодильник</h2>
								<p class="medium-13">
									Зарегистрируй 12 кодов и получи сумку-холодильник!<br> Напитки, которые ты возьмешь на пляж,<br> всегда останутся холодными!<br>
									<span class="blue">(Вместимость: 6 банок/бутылок 0,5 л)</span>
								</p>
							</div>
						</div>
					</div>
					<div style="width:88%; margin:0 auto 20px;">
						<div class="css-table full-width">
							<div class="css-table-cell top center" style="width:20%;">
								<div class="yellow bold normalcase">2 кода</div>
								<div class="medium" style="margin-top:13px">
									<span class="font-13">Осталось:</span><br><span class="font-22">57 785</span>
								</div>
							</div>
							<div class="css-table-cell top center" style="width:20%;">
								<div class="yellow bold normalcase">6 кодов</div>
								<div class="medium" style="margin-top:13px">
									<span class="font-13">Осталось:</span><br><span class="font-22">2156</span>
								</div>
							</div>
							<div class="css-table-cell top center" style="width:20%;">
								<div class="yellow bold normalcase">6 кодов</div>
								<div class="medium" style="margin-top:13px">
									<span class="font-13">Осталось:</span><br><span class="font-22">785</span>
								</div>
							</div>
							<div class="css-table-cell top center" style="width:20%;">
								<div class="yellow bold normalcase">12 кодов</div>
								<div class="medium" style="margin-top:13px">
									<span class="font-13">Осталось:</span><br><span class="font-22">5403</span>
								</div>
							</div>
							<div class="css-table-cell top center" style="width:20%;">
								<div class="yellow bold normalcase">12 кодов</div>
								<div class="medium" style="margin-top:13px">
									<span class="font-13">Осталось:</span><br><span class="font-22">1271</span>
								</div>
							</div>
						</div>
					</div>
					<a href="<?php echo $baseUrl ?>html/ajax/wheretoget.html" rel="popup" class="button big animated full-width" data-popup-id="wheretoget">Получить</a>
					<hr>
					<p class="medium-13">Главный приз ближе, чем кажется! Получи дополнительное преимущество<br> в игре «Party yacht**», регистрируя новые коды:</p>
					<p class="medium-13">
						<span class="yellow bold font-23 normalcase">2 кода*</span> — В два раза больше снарядов!<br>
						<span class="yellow bold font-23 normalcase">8 кодов*</span> — Автонаведение снаряда<br>
						<span class="yellow bold font-23 normalcase">12 кодов*</span> — В два раза больше очков!
					</p>
					<p>
						<span class="bold">**</span><span class="dark-blue normalcase"> — Яхт-вечеринка</span><br>
						<span class="yellow bold font-18">*</span><span class="dark-blue normalcase"> — общее количество зарегистрированных кодов</span>
					</p>
					<div id="efesProfilePrizesTable">
						<div class="css-table full-width">
							<div class="css-table-cell half medium-13 padding-5" style="padding-left:0;">Наименование</div>
							<div class="css-table-cell half medium-13 padding-5">Дата заказа</div>
						</div>
						<div class="css-table full-width">
							<div class="css-table-cell half"><div id="efesProfilePrizesTablePrize" class="border padding-5 normalcase">
								<div class="efes-profile-prizes-table-prize" data-id="1">Шляпа</div>
								<div class="efes-profile-prizes-table-prize" data-id="2">Полотенце</div>
								<div class="efes-profile-prizes-table-prize" data-id="3">+30 руб. на телефон</div>
							</div></div>
							<div class="css-table-cell half"><div id="efesProfilePrizesTableDate" class="border padding-5 normalcase">
								<div class="efes-profile-prizes-table-date" data-id="1">05.07.2014</div>
								<div class="efes-profile-prizes-table-date" data-id="2">25.06.2014</div>
								<div class="efes-profile-prizes-table-date" data-id="3">12.06.2014</div>
							</div></div>
						</div>
					</div>
				</div>
				<div id="profilePlayButton"><a href="<?php echo $baseUrl ?>game/frontpage.html" id="profilePlayButtonClickArea"></a></div>
			</div>
		</div>
	</div>
				
<?php require('footer.html') ?>