<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div class="container efes-content-lifted">
			
			<div id="ratingTable">
				<div class="scroll">
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">9700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">8700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">7700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">6700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">5700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">4700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">3700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">2700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">1700</div>
						</div>
					</div>
					<div class="row-table">
						<div>
							<div class="blue-bar medium">
								<span class="place rating-counter"></span>
								<span class="name">Константин Константинопольский</span>
							</div>
						</div>
						<div class="center fourth">
							<div class="blue-bar medium">700</div>
						</div>
					</div>
				</div>
				<?php if (isset($_COOKIE['efesUserRegistred']) && $_COOKIE['efesUserRegistred']): ?>
				<div class="row-table user-result">
					<div>
						<div class="blue-bar medium">
							<span class="place">65</span>
							<span class="name">Андрей Васильев</span>
						</div>
					</div>
					<div class="center fourth">
						<div class="blue-bar medium">7700</div>
					</div>
				</div>
				<?php endif ?>
			</div>
			
			<div class="row-table">
				<div>
					<a href="#" class="button big animated other">Начать игру</a>
				</div>
				<div class="right">
					<a href="#" class="button big animated other">Победители предыдущего розыгрыша</a>
				</div>
			</div>
			
		</div>
	</div>
<?php require('footer.html') ?>