<?php
	$js[] = 'js/test.js';
?>
<?php require('head.html') ?>
<?php require('header.html') ?>
	<div id="content">
		<div class="container">
			<div class="efes-content-blue-box">
				<form id="form" action="<?php echo $baseUrl ?>test/response" method="post">
					<select class="efes-dropdown" name="_dropdown" required>
						<option value="" disabled selected>Выберите тему</option>
						<option>Тема 1</option>
						<option>Тема 2</option>
						<option>Тема 3</option>
						<option>Тема 4</option>
					</select>
					<hr>
					<select class="" name="_dropdown2" required style="color:#000">
						<option value="" disabled selected>Выберите тему</option>
						<option>Тема 1</option>
						<option>Тема 2</option>
						<option>Тема 3</option>
						<option>Тема 4</option>
					</select>
					<hr>
					<label class="efes-checkbox">
						<input type="radio" name="_deliveryPoint" value="1" class="efes-checkbox-input" required>
						<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
						<span class="css-table-cell middle medium-13">Центр выдачи призов в Москве №1</span>
					</label>
					<div class="medium-13" style="padding-left:38px; margin-bottom:20px;">
						<span class="dark-blue">Адрес:</span><br>
						<span class="dark-blue">График работы:</span>
					</div>
					<label class="efes-checkbox">
						<input type="radio" name="_deliveryPoint" value="2" class="efes-checkbox-input" required>
						<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
						<span class="css-table-cell middle medium-13">Центр выдачи призов в Москве №2</span>
					</label>
					<div class="medium-13" style="padding-left:38px; margin-bottom:20px;">
						<span class="dark-blue">Адрес:</span><br>
						<span class="dark-blue">График работы:</span>
					</div>
					<label class="efes-checkbox">
						<input type="radio" name="_deliveryPoint" value="3" class="efes-checkbox-input" required>
						<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
						<span class="css-table-cell middle medium-13">Центр выдачи призов в Санкт-Петербурге</span>
					</label>
					<div class="medium-13" style="padding-left:38px;">
						<span class="dark-blue">Адрес:</span><br>
						<span class="dark-blue">График работы:</span>
					</div>
					<hr>
					<label class="efes-checkbox">
						<input type="checkbox" name="_delivery" value="1" class="efes-checkbox-input" required>
						<span class="efes-checkbox-control css-table-cell middle"><span class="efes-checkbox-control-a"><span class="efes-checkbox-control-b"></span></span></span>
						<span class="css-table-cell middle medium-13">Блаблабал</span>
					</label>
					<hr>
					<input type="text" name="_asd" class="input" placeholder="Введите текст" required>
					<hr>
					<input type="submit" id="asdasd" class="button big full-width animated" value="Ок">
				</form>
			</div>
		</div>
	</div>
<?php require('footer.html') ?>